html {margin:0; padding:0; border:0; font-size:100.01%;}
body {margin:0;padding:0;border:0; font-size:75%; color:#222; background: #1596D7 url(../img/bg.jpg) repeat; font-family: Verdana, Geneva, sans-serif; text-align: center;}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}

article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}


table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* typography.css */



/*--------------- Headings ---------------*/
h2, h3, h4, h5, h6 {font-weight:normal;}
h2 {font-size:20px; color: #FF791F; font-weight: bold; margin-bottom:0.75em;}
h2 span {color: #007FBF;}

h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

/*--------------- Text Elements ---------------*/
p {margin:0 0 1.5em;}
.left {float:left !important;}
.right {float:right !important;}

a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}

/*--------------- Lists ---------------*/
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}

/*--------------- Tables ---------------*/
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}


/*--------------- Misc classes ---------------*/
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/*--------------- Forms ---------------*/
label {font-weight:bold;}
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
input[type=text], input[type=password], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}

/*--------------- Error Messages ---------------*/
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}


.box {padding:1.5em;margin-bottom:1.5em;background:#e5eCf9;}00
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}


/*================ Layout Structure ================*/

#wrapper {margin: 0 auto; padding: 0 8px; width: 960px; background: transparent url(../img/bg_wrapper.png) repeat-y; text-align: left;}
#wrapper #topMenu {margin: 0; padding: 0; height: 28px; background: transparent url(../img/bg_topMenu.gif) repeat-x 0px 0px;}
#wrapper #topMenu ul {margin: 0; padding: 0 0 0 26px; list-style-type: none;}
#wrapper #topMenu ul li {margin: 0; padding: 0 4px; float: left; line-height: 24px; color: #ffffff; font-size: 9px;}
#wrapper #topMenu ul li a {color: #ffffff; text-decoration: none; font-size: 11px;}
#wrapper #topMenu ul li a:hover {color: #FFD393; text-decoration: underline;}

#wrapper #header {margin: 0; padding: 10px 26px 0 26px;}
#wrapper #header h1 {margin: 0; padding: 0; width: 246px; height: 88px; float: left; background: transparent url(../img/logo_liguelista.png) no-repeat 0px 0px;}
#wrapper #header h1 a {display: block; margin: 0; padding: 0; width: 246px; height: 88px; text-indent: -9000px;}
#wrapper #header #banners {margin: 20px 0 0 20px; padding: 0; width: 358px; height: 78px; float: left; border: 1px #EFEFEF solid;}
#wrapper #header #espacoPub {margin: 20px 0 0 20px; padding: 0; width: 248px; height: 78px; float: left; border: 1px #D8D8D8 solid;}

#wrapper #content {margin: 0; padding: 0;}
#wrapper #content #busca {margin: 20px 0 0 26px; padding: 12px 0 0 25px; width: 601px; height: 166px; background: transparent url(../img/bg_busca.png) no-repeat 0px 0px;}
#wrapper #content #busca .formBox {margin: 10px 20px 0 0; padding: 0; float: left; width: 280px;}
#wrapper #content #busca .formBox label {display: block; margin: 0; padding: 0; font-size: 12px; color: #ffffff;}
#wrapper #content #busca .formBox input[type=text] {margin: 7px 0 0 0; padding: 2px 4px;  width: 262px; height: 18px; font-size: 11px; border: 1px #E7E7E7 solid; border-top: 1px #ACACAC solid;}
#wrapper #content #busca .formBox select {margin: 7px 0 0 0; padding: 2px 4px; width: 258px; height: 24px; font-size: 11px; border: 1px #E7E7E7 solid; border-top: 1px #ACACAC solid;}
#wrapper #content #busca input[type=submit] {margin: 6px 40px 0 0; padding: 0 0 4px 0;  width: 96px; height: 30px; font-size: 18px; border: 0px #fff solid; cursor: pointer; background: transparent url(../img/bt_busca_home.png) no-repeat 0px 0px; float: right; color: #ffffff; line-height: 18px; font-weight: bold;}

#wrapper #content #categorias {margin: 20px 0 0 26px; padding: 12px 0 0 25px; width: 601px; height: 250px; background: transparent url(../img/bg_categorias.png) no-repeat 0px 0px;}
#wrapper #content #categorias span {margin: 0 10px 0 0; color:#7B7B7B;}
#wrapper #content #categorias a { text-decoration: none; }
#wrapper #content #categorias span:hover { opacity: 0.5; -moz-opacity: 0.5; filter: alpha(opacity=50); }
#wrapper #content #categorias span.size12 {font-size: 12px; line-height:14px;}
#wrapper #content #categorias span.size14 {font-size: 14px; line-height:16px;}
#wrapper #content #categorias span.size15 {font-size: 15px; line-height:17px;}
#wrapper #content #categorias span.size16 {font-size: 16px; line-height:18px;}
#wrapper #content #categorias span.size17 {font-size: 17px; line-height:19px;}
#wrapper #content #categorias span.size18 {font-size: 18px; line-height:20px;}
#wrapper #content #categorias span.size19 {font-size: 19px; line-height:21px;}
#wrapper #content #categorias span.size21 {font-size: 21px; line-height:23px;}
#wrapper #content #categorias span.size22 {font-size: 22px; line-height:24px;}
#wrapper #content #categorias span.size23 {font-size: 23px; line-height:25px;}
#wrapper #content #categorias span.size24 {font-size: 24px; line-height:26px;}
#wrapper #content #categorias span.size26 {font-size: 26px; line-height:28px;}
#wrapper #content #categorias span.size29 {font-size: 29px; line-height:31px;}
#wrapper #content #categorias span.size30 {font-size: 30px; line-height:32px;}
#wrapper #content #categorias span.size31 {font-size: 31px; line-height:33px;}
#wrapper #content #categorias span.size35 {font-size: 35px; line-height:37px;}

#wrapper #content #buscaGoogleMaps {margin: 20px 0 0 26px; padding: 12px 0 0 25px; width: 601px; height: 237px; background: transparent url(../img/bg_googleMaps.png) no-repeat 0px 0px; position: relative;}
#wrapper #content #buscaGoogleMaps #searchform {position: absolute; top: 16px; right: 20px; margin: 0 0 20px 0;}
#wrapper #content #buscaGoogleMaps #searchform input[type=text] {margin: 0 4px 0 0; padding: 2px 4px;  width: 240px; height: 14px; font-size: 11px; border: 1px #D3D3D3 solid; float: left;}
#wrapper #content #buscaGoogleMaps #searchform input[type=submit] {margin: 0; padding: 0;  width: 46px; height: 20px; border: 0px #fff solid; cursor: pointer; background: transparent url(../img/bt_procurar_maps.gif) no-repeat 0px 0px; float: left;}
#wrapper #content #buscaGoogleMaps img {margin: 0 5px 0 0; border: 1px #BCB0A8 solid;}


#wrapper #content #sidebar {padding: 0; width: 252px;}
#wrapper #content .home {margin: 0 20px 0 0; padding: 338px 0 0 0; background: transparent url(../img/bg_sidebar.png) no-repeat 0px 0px;}
#wrapper #content .interna {margin: 20px 4px 0 10px;}


#wrapper #content #sidebar h2.news{padding: 338px 0 0 0;}
#wrapper #content #sidebar .newsCap {margin: -10px 0 0 0; padding: 0; width: 246px; height: 15px; background: transparent url(../img/bg_newsCap.png) no-repeat 0px 0px;}
#wrapper #content #sidebar .newsBody {margin: 0; padding: 0 20px; width: 206px; background: transparent url(../img/bg_newsBody.png) repeat-y ;}
#wrapper #content #sidebar .newsBody p {margin: 0; padding: 0 0 10px 0; line-height: 12px; color: #666666; font-size: 10px;}
#wrapper #content #sidebar .newsBody p span {color: #007FBF; font-weight: bold;}
#wrapper #content #sidebar .newsBody p.loguitoPovo {background: transparent url(../img/logo_correio_povo.png) no-repeat 40px 0px;}

#wrapper #content #sidebar .newsFooter {margin: 0; padding: 0; width: 246px; height: 23px; background: transparent url(../img/bg_newsFooter.png) no-repeat 0px 0px;}


#wrapper #content #sidebar #menuCats {margin: 0; padding: 5px 0 0 10px; width:234px; height:659px; background: transparent url(../img/bg_categorias_sidebar.png) no-repeat 0px 0px;}
#wrapper #content #sidebar #menuCats ul {margin: 0; padding: 10px 20px 0 10px; list-style-type: none;}
#wrapper #content #sidebar #menuCats ul li {margin: 0; padding: 3px 0 3px 15px; background: transparent url(../img/bg_li_menuCats.png) no-repeat 0px 8px;}
#wrapper #content #sidebar #menuCats ul li a {color: #7C7C7C; font-size: 13px; text-decoration: none; font-weight: bold;}

#wrapper #content #contentFooter {margin: 5px 0 0 26px; padding: 0;}
#wrapper #content #contentFooter h2 {margin: 0; padding: 0; font-size: 18px; line-height: 26px;}

#wrapper #content #contentFooter #bannersFooter {margin: 0; padding: 0; width:230px; float: left;}
#wrapper #content #contentFooter #bannersFooter a {display: block; margin: 6px 0 22px 0; padding: 0; width:228px; height:90px; text-indent: -9000px; background-repeat: no-repeat; background-position: 0px 0px;}
#wrapper #content #contentFooter #bannersFooter a.rivera {background-image: url(../img/banner_capa_rivera.png);}
#wrapper #content #contentFooter #bannersFooter a.rivera:hover { opacity: 0.5; -moz-opacity: 0.5; filter: alpha(opacity=50); } 
#wrapper #content #contentFooter #bannersFooter a.atendimento {background-image: url(../img/banner_capa_atendimentoOnline.png);}
#wrapper #content #contentFooter #bannersFooter a.atendimento:hover { opacity: 0.5; -moz-opacity: 0.5; filter: alpha(opacity=50); } 


#wrapper #content #contentFooter #climaTempo {margin: 0 20px; padding: 0; width:130px; float: left;}
#wrapper #content #contentFooter #climaTempo  img {margin: 11px 0;}

#wrapper #content #contentFooter #ligueDicas {margin: 0; padding: 0; width:510px; float: left;}
#wrapper #content #contentFooter #ligueDicas img {margin: 10px 10px 10px 0;}
#wrapper #content #contentFooter #ligueDicas a {display: block; float: left; margin: 10px 12px 10px 0; padding: 0; width:158px; height:178px; text-indent: -9000px; background-repeat: no-repeat; background-position: 0px 0px;}
#wrapper #content #contentFooter #ligueDicas a.serra {background-image: url(../img/bt_serra_gaucha.png);}
#wrapper #content #contentFooter #ligueDicas a.serra:hover { opacity: 0.5; -moz-opacity: 0.5; filter: alpha(opacity=50); } 
#wrapper #content #contentFooter #ligueDicas a.santaCatarina {background-image: url(../img/bt_santa_catarina.png);}
#wrapper #content #contentFooter #ligueDicas a.santaCatarina:hover { opacity: 0.5; -moz-opacity: 0.5; filter: alpha(opacity=50); } 
#wrapper #content #contentFooter #ligueDicas a.interiorRS {background-image: url(../img/bt_interior_rs.png);}
#wrapper #content #contentFooter #ligueDicas a.interiorRS:hover { opacity: 0.5; -moz-opacity: 0.5; filter: alpha(opacity=50); } 


#wrapper #content #contentPanel {margin: 0; padding: 0; width: 646px;}
#wrapper #content #retornoBusca {margin: 0 0 20px 26px; padding: 0; height: 50px;}
#wrapper #content #retornoBusca h3 {margin: 0; padding: 30px 0 0 0; color: #007FBF; font-size: 18px; font-weight: bold; line-height: 20px; text-transform: uppercase;}
#wrapper #content #retornoBusca em {text-transform: uppercase;}
#wrapper #content #retornoBusca p {margin: 0; padding: 0; color: #007FBF; font-size: 12px; font-weight: bold; line-height: 50px;}
#wrapper #content #retornoBusca p span {color: #FF6600;}

#wrapper #content #resultadoBuscaCap {margin: 0 0 0 26px; padding: 0; width: 620px; height: 11px; background-image: url(../img/bg_resultadoBuscaCap.png);}
#wrapper #content #resultadoBusca {margin: 0 0 0 26px; padding: 9px 20px 2px 20px; width: 580px; background-color: #EEEEEE;}
#wrapper #content #resultadoBusca ul.cats {margin: 0; padding: 10px 20px 30px 10px; list-style-type: none;}
#wrapper #content #resultadoBusca ul.cats li {margin: 0; padding: 2px 0 2px 15px; background: transparent url(../img/bg_li_listCats.png) no-repeat 0px 8px;}
#wrapper #content #resultadoBusca ul.cats li a {color: #0090D6; font-size: 12px; text-decoration: none;}



#wrapper #content #resultadoBuscaBottom {margin: 0 0 0 26px; padding: 0; width: 620px; height: 11px; background-image: url(../img/bg_resultadoBuscaBottom.png);}

#wrapper #content #pagination {margin: 0 0 0 26px; padding: 0;}
#wrapper #content #pagination ul {margin: 10px 0 20px 0; padding: 0; float: right; list-style-type: none;}
#wrapper #content #pagination ul li {margin: 0; padding: 0; float: left;}
#wrapper #content #pagination ul li a {display: block; margin: 0 2px; padding: 0 3px; color: #FF6600; font-size: 11px; text-decoration: none; font-weight: bold;}
#wrapper #content #pagination ul li a:hover {background-color: #FF6600; color: #ffffff;}
#wrapper #content #pagination ul li a.active {background-color: #FF6600; color: #ffffff;}
#wrapper #content #pagination ul li a.previous {margin: 0 6px 0 0; padding: 0; width:6px; height: 15px; text-indent: -9000px; background: transparent url(../img/pagination_arro_previous.png) no-repeat 0px 4px;}
#wrapper #content #pagination ul li a.next {margin: 0 0 0 6px; padding: 0; width:6px; height: 15px; text-indent: -9000px; background: transparent url(../img/pagination_arro_next.png) no-repeat 0px 4px;}

/*################### Big Ad Style ###################*/
.bigAd {margin: 0 0 15px 0; padding:0; text-align: center; background-color: #ffffff; border: 1px #FFE065 solid; border-bottom: 5px #ffe16c solid; zoom: 1.0;}
.bigAd h3 {margin: 0px 0px 0px 0px; padding: 4px 0px 0px 15px; text-align: left; background-color: #ffdf61; font: bold 17px/26px 'Trebuchet MS'; color: #00507a; text-transform: uppercase;}
.bigAd img.big {margin: 0px 0px 0px 0px; border: 1px #d8712f solid;}
.bigAd img.medium {float: right; margin: 10px 10px 10px 10px; width: 160px;}
/*Pakisa*/
.bigAd div.categoria{margin:0; padding:3px 0 3px 9px; font: bold 10px/12px 'Trebuchet MS'; color: #00507a; text-align:left;}
.bigAd div.categoria a{text-decoration:none; color: #00507a;}

.mainInfo {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; float: left; zoom: 1.0;}
.mainInfo p {margin: 0px 0px 0px 0px; padding: 12px 0px 4px 10px; text-align: left; font: normal 14px/16px 'Trebuchet MS'; color: #1b648a; width: 380px;}
.mainInfo address {margin: 0px 0px 0px 0px; padding: 10px 10px 8px 10px; text-align: left; font: normal 14px/14px 'Trebuchet MS'; color: #1b648a;}


.contactInfo {margin: 0px 0px 0px 0px; padding: 4px 0px 8px 0px; background-color: #fff5cf; zoom: 1.0;}
.contactInfo .phone {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_phone.gif) no-repeat 10px 5px;}
.contactInfo .phone span {margin: 0px 10px 0px 0px; font: normal 14px/19px 'Trebuchet MS'; color: #1b648a;}
.contactInfo .fax {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_fax.gif) no-repeat 10px 5px; }
.contactInfo .fax span {margin: 0px 10px 0px 0px; font: normal 14px/19px 'Trebuchet MS'; color: #1b648a;}
.contactInfo .email {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_email.gif) no-repeat 10px 5px;}
.contactInfo .email a {margin: 0px 10px 0px 0px; font: normal 14px/19px 'Trebuchet MS'; color: #0080c3; text-decoration: none;}
.contactInfo .website {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_website.gif) no-repeat 10px 5px;}
.contactInfo .website a {margin: 0px 10px 0px 0px; font: normal 14px/19px 'Trebuchet MS'; color: #0080c3; text-decoration: none;}

.businessInfo {margin: 0px 0px 0px 0px; padding: 2px 0px 8px 0px; background-color: #FFEEA8; zoom: 1.0;}
.businessInfo .when {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_when.gif) no-repeat 10px 5px; zoom: 1.0;}
.businessInfo .when span {margin: 0px 10px 0px 0px; font: normal 14px/19px 'Trebuchet MS'; color: #1b648a; zoom: 1.0;}
.businessInfo .how {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_how.gif) no-repeat 10px 5px; zoom: 1.0;}
.businessInfo .how span {margin: 0px 10px 0px 0px; font: normal 14px/19px 'Trebuchet MS'; color: #1b648a; zoom: 1.0;}

.smallAd1 {margin: 0 0 15px 0; padding: 0px 0px 5px 0px; text-align: center; background-color: #ffffff; border: 1px #FFE065 solid; zoom: 1.0;}
.smallAd1 h3 {margin: 0px 0px 0px 0px; padding: 4px 0px 0px 10px; text-align: left; font: bold 15px/15px 'Trebuchet MS'; color: #00507a; text-transform: uppercase;}
.smallAd1 address {margin: 0px 0px 0px 0px; padding: 2px 10px 0px 10px; text-align: left; font: normal 12px/12px 'Trebuchet MS'; color: #1b648a;}
.smallAd1 .phone {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_phone.gif) no-repeat 10px 2px;}
.smallAd1 .phone span {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #1b648a;}
.smallAd1 .fax {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_fax.gif) no-repeat 10px 2px;}
.smallAd1 .fax span {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #1b648a;}
.smallAd1 .email {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_email.gif) no-repeat 10px 2px;}
.smallAd1 .email a {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #0080c3; text-decoration: none;}
.smallAd1 .website {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_website.gif) no-repeat 10px 2px;}
.smallAd1 .website a {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #0080c3; text-decoration: none;}

.smallAd2 {margin: 0 0 15px 0; padding: 0px 0px 5px 0px; text-align: center; background-color: #FFF5CF; border: 1px #FFE065 solid; zoom: 1.0;}
.smallAd2 h3 {margin: 0px 0px 0px 0px; padding: 4px 0px 0px 10px; text-align: left; font: bold 15px/15px 'Trebuchet MS'; color: #00507a; text-transform: uppercase;}
.smallAd2 address {margin: 0px 0px 0px 0px; padding: 2px 10px 0px 10px; text-align: left; font: normal 12px/12px 'Trebuchet MS'; color: #1b648a;}
.smallAd2 .phone {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_phone.gif) no-repeat 10px 2px;}
.smallAd2 .phone span {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #1b648a;}
.smallAd2 .fax {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_fax.gif) no-repeat 10px 2px;}
.smallAd2 .fax span {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #1b648a;}
.smallAd2 .email {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_email.gif) no-repeat 10px 2px;}
.smallAd2 .email a {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #0080c3; text-decoration: none;}
.smallAd2 .website {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_website.gif) no-repeat 10px 2px;}
.smallAd2 .website a {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #0080c3; text-decoration: none;}

.adMS1 {margin: 0 0 15px 0; padding: 0px 0px 5px 0px; text-align: center; background-color: #ffffff; border: 1px #FFE065 solid; zoom: 1.0;}
.adMS1 h3 {margin: 0px 0px 0px 0px; padding: 4px 0px 0px 10px; text-align: left; font: bold 13px/13px 'Trebuchet MS'; color: #004164; text-transform: uppercase;}
.adMS1 address {margin: 0px 0px 0px 0px; padding: 2px 10px 0px 10px; text-align: left; font: normal 13px/13px 'Trebuchet MS'; color: #1b648a;}
.adMS1 .phone {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_phone.gif) no-repeat 10px 2px;}
.adMS1 .phone span {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #1b648a;}

.adMS2 {margin: 0 0 15px 0; padding: 0px 0px 5px 0px; text-align: center; background-color: #FFF5CF; border: 1px #FFE065 solid; zoom: 1.0;}
.adMS2 h3 {margin: 0px 0px 0px 0px; padding: 4px 0px 0px 10px; text-align: left; font: bold 13px/13px 'Trebuchet MS'; color: #004164; text-transform: uppercase;}
.adMS2 address {margin: 0px 0px 0px 0px; padding: 2px 10px 0px 10px; text-align: left; font: normal 13px/13px 'Trebuchet MS'; color: #1b648a;}
.adMS2 .phone {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_phone.gif) no-repeat 10px 2px;}
.adMS2 .phone span {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #1b648a;}

.tinyAd1 {margin: 0 0 15px 0; padding: 0px 0px 5px 0px; text-align: center; background-color: #ffffff; zoom: 1.0;}
.tinyAd1 h3 {margin: 0px 0px 0px 0px; padding: 4px 0px 0px 10px; text-align: left; font: normal 12px/12px 'Trebuchet MS'; color: #00507a; text-transform: uppercase;}
.tinyAd1 address {margin: 0px 0px 0px 0px; padding: 2px 10px 0px 10px; text-align: left; font: normal 12px/12px 'Trebuchet MS'; color: #1b648a;}
.tinyAd1 .phone {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_phone.gif) no-repeat 10px 2px;}
.tinyAd1 .phone span {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #1b648a;}
.tinyAd1 .fax {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_fax.gif) no-repeat 10px 2px;}
.tinyAd1 .fax span {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #1b648a;}
.tinyAd1 .email {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_email.gif) no-repeat 10px 2px;}
.tinyAd1 .email a {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #0080c3; text-decoration: none;}
.tinyAd1 .website {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_website.gif) no-repeat 10px 2px;}
.tinyAd1 .website a {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #0080c3; text-decoration: none;}

.tinyAd2 {margin: 0 0 15px 0; padding: 0px 0px 5px 0px; text-align: center; background-color: #FFF5CF; zoom: 1.0;}
.tinyAd2 h3 {margin: 0px 0px 0px 0px; padding: 4px 0px 0px 10px; text-align: left; font: normal 12px/12px 'Trebuchet MS'; color: #00507a; text-transform: uppercase;}
.tinyAd2 address {margin: 0px 0px 0px 0px; padding: 2px 10px 0px 10px; text-align: left; font: normal 12px/12px 'Trebuchet MS'; color: #1b648a;}
.tinyAd2 .phone {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_phone.gif) no-repeat 10px 2px;}
.tinyAd2 .phone span {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #1b648a;}
.tinyAd2 .fax {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_fax.gif) no-repeat 10px 2px;}
.tinyAd2 .fax span {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #1b648a;}
.tinyAd2 .email {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_email.gif) no-repeat 10px 2px;}
.tinyAd2 .email a {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #0080c3; text-decoration: none;}
.tinyAd2 .website {margin: 0px 0px 0px 0px; padding: 0px 0px 0px 36px; text-align: left; background: transparent url(../img/ico_website.gif) no-repeat 10px 2px;}
.tinyAd2 .website a {margin: 0px 10px 0px 0px; font: normal 14px/16px 'Trebuchet MS'; color: #0080c3; text-decoration: none;}


/*##########   PAGINA TRABALHE CONOSCO    ###########*/

#breadcrumbs a { text-decoration: none; cursor: pointer; margin: 0px 0px 0px 30px; color: #FF9900; font-family: Verdana, Geneva, sans-serif; font-size: 10px; }
#breadcrumbs a:hover { opacity: 0.5; -moz-opacity: 0.5; filter: alpha(opacity=50); } 

#painelVagas { float: left; margin: 0px 0px 0px 20px;  }
#painelVagas h2 { background: url("../img/bg_vagas.png") no-repeat scroll 0 0 transparent; color: #FFFFFF; height: 40px; margin: 0px 0px 0px 10px; font-size: 0px; width: 225px; }
#painelVagas ul li { color: #0080C1; font-family: Verdana, Geneva, sans-serif; font-weight: bold; font-size: 14px; margin: 10px;  }
#painelVagas ul li ul li { color: #FF6600; font-family: Verdana, Geneva, sans-serif; font-weight: normal; font-size: 12px; list-style: square;  }
#job { float: right; }
.jobCap {  background: url("../img/bg_jobCap.png") no-repeat scroll 0 0 transparent; height: 15px; margin: -3px 0 0; padding: 0; width: 642px; } 
.jobBody { background: url("../img/bg_jobBody.png") repeat-y scroll 0 0 transparent; margin: 0; padding: 0 20px; width: 642px; }

.jobBody h1 { color: #FF6600; font-family: Verdana, Geneva, sans-serif; font-weight: 300; font-size: 26px; }
.jobBody h2 { color: #FF9600; font-family: Verdana, Geneva, sans-serif; font-weight: bold; font-size: 13px; margin: 40px 0px 20px 0px; }
.jobBody p { width: 584px; color: #FF6600; font-family: Verdana, Geneva, sans-serif; font-weight: normal; font-size: 13px; margin: 10px 0px 10px 0px; }
.jobBody span { width: 584px; color: #0080C1; font-family: Verdana, Geneva, sans-serif; font-weight: bold; font-size: 13px; }

.espaco30 { margin: 0px 30px 0px 0px; }
.espaco14 { margin: 0px 14px 0px 0px!important; }

.job44 { width: 44px; height: 24px; }
.job80 { width: 80px; height: 24px; }
.job102 { width: 102px; height: 24px; }
.job179 { width: 179px; height: 24px; }
.job205 { width: 205px; height: 24px; }
.job211 { width: 211px; height: 24px; }
.job280 { width: 280px; height: 24px; }
.job360 { width: 360px; height: 24px; }
.job393 { width: 393px; height: 24px; }
.job584 { width: 584px; height: 24px; }
.job584x88 { width: 584px; height: 88px; }
.job584x58 { width: 584px; height: 58px; }

.botao { text-align: right; width: 600px; padding: 0px 0px 30px 0px; }
.botao_enviar { background: url("../img/job_bt_enviar.png") no-repeat scroll 0 0 transparent; border: 0px; width: 81px; height: 32px; cursor: pointer; }
.botao_enviar:hover { opacity: 0.5; -moz-opacity: 0.5; filter: alpha(opacity=50); }

#jobNomeFilho2 { display: none; }
#jobNomeFilho3 { display: none; }
#jobNomeFilho4 { display: none; }
#jobNomeFilho5 { display: none; }
#jobNomeFilho6 { display: none; }
#jobNomeFilho7 { display: none; }
#jobNomeFilho8 { display: none; }
#jobNomeFilho9 { display: none; }
#jobNomeFilho10 { display: none; }

#jobIdadeFilho2 { display: none; }
#jobIdadeFilho3 { display: none; }
#jobIdadeFilho4 { display: none; }
#jobIdadeFilho5 { display: none; }
#jobIdadeFilho6 { display: none; }
#jobIdadeFilho7 { display: none; }
#jobIdadeFilho8 { display: none; }
#jobIdadeFilho9 { display: none; }
#jobIdadeFilho10 { display: none; }

.jobBr1 { display: none; }
.jobBr2 { display: none; }
.jobBr3 { display: none; }
.jobBr4 { display: none; }
.jobBr5 { display: none; }
.jobBr6 { display: none; }
.jobBr7 { display: none; }
.jobBr8 { display: none; }
.jobBr9 { display: none; }

.jobFooter { background: url("../img/bg_jobFooter.png") no-repeat scroll 0 0 transparent; height: 23px; margin: 0; padding: 0; width: 642px; }

/*################### Footer Style ###################*/
#footer {margin: 0 auto 30px auto; padding: 0 8px; width: 960px; height: 40px; background: transparent url(../img/bg_footer.png) no-repeat 0px 0px;}
#footer p {margin: 0; padding: 8px 0 0 160px; float: left; width: 280px; font-size: 10px; color: #666666; line-height: 14px;}
#footer ul {margin: 0; padding: 0; list-style-type: none;}
#footer ul li {margin: 0; padding: 8px 2px 0 2px; float: left; font-size: 10px; line-height: 14px;}
#footer ul li a {color: #666666; text-decoration: none;}
#footer ul li a:hover {color: #B5B5B5; text-decoration: underline;}



