/*
Theme Name: Liguelista
Theme URI: http://liguelista.com.br
Author: OxiDigital
Author URI: http://oxi.digital
Version: 1.3.1.1
Description: Layout criados para o liguelista.
Tags: one-column, two-columns, left-sidebar,right-sidebar, custom-header, custom-menu, editor-style, flexible-header, full-width-template, microformats, post-formats, sticky-post, theme-options, translation-ready
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/
@charset "utf-8";
@import url("//fonts.googleapis.com/css?family=Raleway:100, 400,300,600,700,500,200|-1:200,300,400,600,800&amp;subset=latin,latin-ext");
@import url("http://fonts.googleapis.com/css?family=Oswald:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic");
@import url("assets/bootstrap/bootstrap.min.css");  /** defaut bootstrap **/
@import url("assets/css/font-awesome.css");   /** awesome fonts **/

@import url('assets/css/archive.css');
@import url('assets/css/header.css');
@import url('assets/css/my-page.css');
@import url('assets/css/custom-bootstrap.css');
@import url('assets/css/grid-list-listing.css');
@import url('assets/css/single-spy.css');
@import url('assets/css/single-item-tab.css');
@import url('assets/css/listing.css');
@import url('assets/css/loading.css');
@import url('assets/css/dashboard.css');
@import url('assets/css/maps.css');
@import url('assets/css/archive-list.css');
@import url('assets/css/archive-2-column.css');
@import url('assets/css/responsive.css');
@import url('assets/css/shortcodes.css');


/** full read mode **/
body{ overflow-x:hidden; }
body.content-full-mode #main-content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background: #E5E5E5;
	z-index: 9999999999999;
}

.bannerhomemedio{
	margin-top: 150px;
}

.uppercase {text-transform:uppercase;}

@media (min-width: 1200px) {
.boxed .container { width: 1300px;}  /* boxed width */
}

#main-content {position: relative;}

.toggle-full-mode {
	position: absolute;
	font-size: 17px;
	top: 5px;
	right: 5px;
	-webkit-transition: all 250ms cubic-bezier(.694, .0482, .335, 1);
	-moz-transition: all 250ms cubic-bezier(.694, .0482, .335, 1);
	-ms-transition: all 250ms cubic-bezier(.694, .0482, .335, 1);
	-o-transition: all 250ms cubic-bezier(.694, .0482, .335, 1);
	transition: all 250ms cubic-bezier(.694, .0482, .335, 1);
	-webkit-transition-timing-function: cubic-bezier(.694, .0482, .335, 1);
	-moz-transition-timing-function: cubic-bezier(.694, .0482, .335, 1);
	-ms-transition-timing-function: cubic-bezier(.694, .0482, .335, 1);
	-o-transition-timing-function: cubic-bezier(.694, .0482, .335, 1);
	transition-timing-function: cubic-bezier(.694, .0482, .335, 1);
	background: #fff;
	border-radius: 100%;
	display: block;
	width: 25px;
	height: 25px;
	text-align: center;
	display:none;
}

a:hover.toggle-full-mode { font-size:19px;}

body.content-full-mode .toggle-full-mode {
	position: fixed;
	font-size: 27px;
	right: 10px;
	width: 50px;
	height: 50px;
	line-height: 50px;
}

/* for my page panel */
body.content-full-mode .jv-my-page .panel-wrap {margin-top: 0px;}
body.content-full-mode .main-content-right {padding-left: 15px;}


/** zoom popup css **/
.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0.001;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
/** popup : videos **/
/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0.001; /* Chrome opacity transition bug */
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
.inline-block{ display:inline-block !important; }



/** footer **/
footer.footer-wrap {background:#404040; color:#fff; padding: 30px 0;}
footer.footer-wrap .widgettitle { margin-bottom:20px; padding-bottom:5px;}
footer.footer-wrap .widgettitle span {color:#fff; text-transform:uppercase; font-size:15px;}
footer.footer-wrap li {list-style-type: none;}
footer.footer-wrap a {color:#fff;}
.footer-bottom {background:#333; color:#fff; padding: 30px 0; border-top:1px solid #888;}

footer .widgets-wraps .widget_posts_wrap ul.latest-posts{margin-left:-10px;}
.widgets-wraps>ul>li>a{color:#8C8989;}
.widgets-wraps>ul>li>a:hover{color:#fff;}

/** search **/
.archive .main-content-wrap,
.archive .sidebar-right,
.archive .sidebar-left,
.archive .sidebar-full,
.search .main-content-wrap,
.search .sidebar-right,
.search .sidebar-left,
.search .sidebar-full{
	margin-top:40px;
}
.page-header {margin-top:0;}

/*single-spy*/
.single-spy .single-item-navi .navbar-nav>li>a [class^="icomoon-"]{
	font-size:25px;
	padding-top:0px;
}
/*header*/
.right-menus .nav-right-button{background:none;}
.right-menus .nav-right-button.button-icon-fix{padding-top:3px; margin-left:5px;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{background:none;}



.btn-primary {
	color: #fff;
	background-color: #454545;
	border-color: #121212;
}
.btn-primary:hover {
	background-color: #000;
	border-color: #121212;
}

.btn { border-radius:0; }

.javo_output:before{ content:' '; display:table; table-layout:fixed; width:100%; }
.javo_output{ display:table-cell; vertical-align:middle; margin-top: 0; padding-top:0;}
.javo_output:after{ content:' '; display:block; clear:both; }


/* remove dot from li on specific pages only */
.single-spy li {	list-style-type: none;}





.main-content-wrap #primary #content article{
	background-color:#fff;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	padding:20px 20px 20px 20px;
	border: 1px #ededed solid;
}
.main-content-wrap #primary #content article .entry-meta{
	margin-bottom:20px;
}
.main-content-wrap .archive-header{
	background-color:#fff;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	padding:5px 20px 5px 20px;
	border: 1px #ededed solid;
}
.main-content-wrap #primary{margin:0px;}

.main-content-wrap .archive-header .archive-title{
	margin-bottom:15px;
	margin-top:15px;
}


/* =General Widgets
-------------------------------------------------------------- */

.siderbar-inner li, .siderbar-inner .cat-item {line-height:1.9em; font-size: 0.88em; list-style-type: none;}

.widget-area .widget ul ul {
	margin-left: 12px;
	margin-left: 0.857142857rem;
}
.widget_rss li {
	margin: 12px 0;
	margin: 0.857142857rem 0;
}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
	color: #aaa;
	font-size: 11px;
	font-size: 0.785714286rem;
	margin-left: 12px;
	margin-left: 0.857142857rem;
}

.widgets-wraps {padding:0 15px; margin-bottom:30px;}
.widgettitle_wrap {padding:0; margin:0; float:none;}

.widgets-wraps select {margin-left:10px; max-width:250px;}
.widgets-wraps .textwidget {width: 260px; overflow:hidden;}
.widgets-wraps .widget_posts_wrap ul.latest-posts>li{padding: 0 10px 10px 10px;}
.widgets-wraps .widget_posts_wrap div.latest-posts{margin-bottom:20px;}
.siderbar-inner .widgets-wraps .widget_posts_wrap .latest-posts .col-md-12 a>span{
	line-height:18px; 
	position:absolute;
	max-height:36px;
	overflow:hidden;
}

#calendar_wrap {
	margin-left:10px;
}
#wp-calendar {
	margin: 0;
	width: 100%;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #686868;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;
}
#wp-calendar #next {
	padding-right: 24px;
	padding-right: 1.714285714rem;
	text-align: right;
}


.widgets-wraps .tagcloud {margin-left:20px;}
.widgets-wraps .searchform {margin-left:10px;}
.widgets-wraps .searchform #s{width:100px; line-height:17px;}
.widget_search label {
	display: block;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.widget_twitter li {
	list-style-type: none;
}
.widget_twitter .timesince {
	display: block;
	text-align: right;
}



/* =Javo Widgets
-------------------------------------------------------------- */
label, input, button, select, textarea { font-size: 14px; font-weight: normal; line-height: 20px; }
h2.widgettitle{ font-size:13px; }
.widget_search label{
	color: #7b8283;
	margin-bottom: 5px;
	cursor: text;
	padding-left:1px;
}

.widgettitle {
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: right center;
	background-image: url('../liguelista/assets/images/divider1.png');
	border:none;
}
.widgettitle span{ padding-right: 10px; color: #333333; background-color: #FFFFFF; font-size:14px; }
.footer-wrap .col-md-3>.widgets-wraps>ul,
.siderbar-inner>.widgets-wraps>ul{padding-left:3px; font-size:1.1em;}
.widget_posts_wrap .posts span.thumb {
	width: 56px;
	height: 56px;
	padding: 3px;
	background: #777;
	display: inline-block;
	float: left;
	margin-right: 10px;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	overflow:hidden;
	position:relative;
}
.widget_posts_wrap .posts span.thumb a:after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0);
	border-radius:100%;
	-webkit-transition:all 0.5s;
}
.widget_posts_wrap .posts span.thumb:hover a:after{
	-webkit-transition:all 0.5s;
	background:rgba(0,0,0,0.3);
}
.widget_posts_wrap .posts span.thumb:hover{
	background: #0397BE;
	padding: 0;
	-webkit-animation: pulse ease-in-out 1 normal 500ms;
	-moz-animation: pulse ease-in-out 1 normal 500ms;
	-ms-animation: pulse ease-in-out 1 normal 500ms;
	-o-animation: pulse ease-in-out 1 normal 500ms;
	animation: pulse ease-in-out 1 normal 500ms;
	border: 3px solid #047FA0;
}
.widget_posts_wrap .posts span.thumb img{
	-webkit-transition:all 0.5s;
	border-radius:100% !important;
}
.widget_posts_wrap .posts span.thumb:hover img{
	-webkit-transition:all 0.5s;
	border-radius:100% !important;
}

.widget_posts_wrap .posts a{ color: #999; }
.siderbar-inner .widget_posts_wrap .posts h3 a{ color: #454545; }
.widget_posts_wrap .posts h3 {margin-bottom:0px;}

.widget_posts_wrap .posts img {
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
}
.widget_posts_wrap .posts li { margin-bottom: 10px;}
.widgets-wraps .widget_posts_wrap>.col-md-12{padding-left:0px;}
.siderbar-inner .widgets-wraps .widget_posts_wrap>.col-md-12>.latest-posts>.col-md-12{padding-left:10px;}
.widget_posts_wrap .latest-posts .col-md-12 h3{
	font-size:14px; 
	font-weight:bold; 
	margin-top:0px; 
	margin-bottom:8px;
	height:15px;
	overflow:hidden;
}

.widgets-wraps>ul>li{font-size:0.88em; line-height:2em;}
.widgets-wraps>ul>li>i{margin-right:5px;}

.widget_posts_wrap .latest-posts li .thumb a .img-wrap-shadow{position:relative; width:80px; overflow:hidden;}
.widget_posts_wrap .latest-posts li .thumb a .img-wrap-shadow:after{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0);
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
	z-index:1;
}
.widget_posts_wrap .latest-posts li .thumb a .img-wrap-shadow:hover:after{
	background:rgba(0,0,0,0.3);
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
.widget_posts_wrap .latest-posts li .thumb a .img-wrap-shadow img{
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
.widget_posts_wrap .latest-posts li .thumb a .img-wrap-shadow:hover img{
	-webkit-transform:scale(1.1);
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}


/* =Footer Widgets
-------------------------------------------------------------- */
.footer-wrap .widgettitle span {
	padding-right: 10px;
	color: #fff;
	background-color: #333;
}

/** footer background **/
footer.footer-wrap {
	font-family:Open Sans;
	background:#333;
}

footer.footer-wrap {
	float:left;
	width:100%;
	overflow:hidden;
	padding:25px 0 10px;
	position:relative;
	background-size:100% 100%;
}

footer.footer-wrap:before{
	content:"";
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;	
}



/*** FOOTER BOTTOM STRIP ///////// ***/

.footer-bottom{
	float:left;
	width:100%;
	padding-bottom:24px;
	padding-top:28px;
	border-bottom:1px solid #fff;
	border-top:1px solid #171616;
	background:none repeat scroll 0 0 #323131;
}

.footer-bottom p {
	color:#969595;
	float:left;
	font-family:roboto;
	font-size:12px;
	line-height:14px;
	margin:0;
}
.footer-bottom p span{ color:#fff; font-family:roboto; font-size:12px; }
.footer-bottom ul { float:right; }
.footer-bottom li { float:left; margin-left:35px; }
.footer-bottom a { color:#969595; font-family:roboto; font-size:12px; }
.footer-bottom a:hover{ color:#fff; }

/** // footer background **/
.footer-wrap{
	font:13px/20px 'PTSansRegular', Arial,Helvetica, sans-serif;
	color:#8C8989 !important;
}
.footer-wrap a{color:#BFBFBF;}
.foot-sns-icons a{padding: 3px;}

/****** widget *******/
.widget_search {padding: 0px 0 15px 0;}

/**** display types *****/
.display-btn-wrap { margin:15px 0 -18px 0px; }
.display-types .glyphicon { font-size:12px; }

.display-types {margin-left:0; padding-left:0;}
.display-types .btn {border-radius: 2px;}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success{
	color: #fff;
	background-color: #777;
	border-color: #666;
}

.btn-success{ color:#fff; background-color:#aaa; border-color: #bbb;}


.back-to-top, .javo-quick-contact-us{
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right:30px;
    display:none;
	z-index:100;
}

.btn.javo-dark{
	background:#454545;
	border:solid 1px #000;
}



.javo-quick-contact-us{
	display:block;
	right:83px;
}
.javo-quick-contact-us{
	position:fixed;
}

.javo-quick-contact-us-content{
	top:580px;
	position:fixed;
	right:0px;
	background:#fff;
	border:solid 1px #eee;
	border-radius:5px;
	min-width:300px;
	min-height:300px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	padding:20px;
	transform: rotate(-240deg) scale(0);
	-webkit-transform: rotateX(-240deg) rotateY(-180deg) scale(0);
	-moz-transform: rotate(-240deg) rotateY(-180deg) scale(0);
	-ms-transform: rotate(-240deg) rotateY(-180deg) scale(0);
	-o-transform: rotate(-240deg) rotateY(-180deg) scale(0);
	transition:all 0.5s;
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
	-o-transition:all 0.4s;
	-ms-transition:all 0.4s;
	opacity:0;
	z-index:9999;
	max-width:350px;
}
.javo-quick-contact-us-content.active{
	transform: rotateX(0deg) rotateY(0deg) scale(1);
	-webkit-transform: rotateX(0deg) rotateY(0deg) scale(1);
	-moz-transform: rotate(0deg) rotateY(0deg) scale(1);
	-ms-transform: rotate(0deg) rotateY(0deg) scale(1);
	-o-transform: rotate(0deg) rotateY(0deg) scale(1);
	opacity:1;
}
.javo-quick-contact-us-content .form-control{margin:5px 0px; padding-left:10px;}
.javo-quick-contact-us-content .row .col-md-12 span{
	position: absolute;
	padding: 14px 12px;
	pointer-events: none;
}

.blog-list-wrap-width{margin-top:30px;}
.blog-list-wrap-width .javo_output .col-md-6 .javo-left-overlay{position:absolute; left:16px; top:25px;}
.blog-list-wrap-width .javo_output .col-md-6 .javo-left-overlay .corner-wrap{display:none;}
.blog-list-wrap-width .text-rb-meta{display:none;}
.blog-list-wrap-width .main-content-wrap .panel-body .blog-wrap-inner .detail h3{margin-top:0px;}
.blog-list-wrap-width .blog-wrap-inner .detail .expert{line-height:19px; height:80px; overflow:hidden;}
.blog-list-wrap-width .blog-wrap-inner .detail{min-height:147px;}

.entry-meta {
	clear: both;
}
.entry-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-header img.wp-post-image {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-header .entry-title {
	font-size: 20px;
	font-size: 1.428571429rem;
	line-height: 1.2;
	font-weight: normal;
}
.entry-header .entry-title a {
	text-decoration: none;
}
.entry-header .entry-format {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-weight: normal;
}
.entry-header .comments-link {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #757575;
}
.comments-link a,
.entry-meta a {
	color: #757575;
}
.comments-link a:hover,
.entry-meta a:hover {
	color: #21759b;
}
article.sticky .featured-post {
	border-top: 4px double #ededed;
	border-bottom: 4px double #ededed;
	color: #757575;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 3.692307692;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	text-align: center;
}
.entry-content,
.entry-summary,
.mu_register {
	line-height: 1.714285714;
}
.entry-content h1,
.comment-content h1,
.entry-content h2,
.comment-content h2,
.entry-content h3,
.comment-content h3,
.entry-content h4,
.comment-content h4,
.entry-content h5,
.comment-content h5,
.entry-content h6,
.comment-content h6 {
	margin: 24px 0;
	margin: 1.714285714rem 0;
	line-height: 1.714285714;
}
.entry-content h1,
.comment-content h1 {
	font-size: 21px;
	font-size: 1.5rem;
	line-height: 1.5;
}
.entry-content h2,
.comment-content h2,
.mu_register h2 {
	font-size: 18px;
	font-size: 1.285714286rem;
	line-height: 1.0;
}
.wpb_row .javo-fancy-title-section h2{
	font-family:'Oswald';
	font-weight:500;
	letter-spacing:1px;
}
.wpb_row .javo-fancy-title-description{
	font-family:'Oswald';
	font-weight:300;
	letter-spacing:1px;
}
.entry-content h3,
.comment-content h3 {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.846153846;
}
.entry-content h4,
.comment-content h4 {
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.846153846;
}
.entry-content h5,
.comment-content h5 {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.entry-content h6,
.comment-content h6 {
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.846153846;
}

/* .entry-content a:visited,
.comment-content a:visited {
	color: #9f9f9f;
}
 */
.entry-content ul ul,
.comment-content ul ul,
.entry-content ol ol,
.comment-content ol ol,
.entry-content ul ol,
.comment-content ul ol,
.entry-content ol ul,
.comment-content ol ul {
	margin-bottom: 0;
}
.entry-content ul,
.comment-content ul,
.mu_register ul {
	list-style: disc outside;
}
.entry-content ol,
.comment-content ol {
	list-style: decimal outside;
}
.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
	margin-bottom: 0;
}
.entry-content code,
.comment-content code {
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
}
.entry-content pre,
.comment-content pre {
	border: 1px solid #ededed;
	color: #666;
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	overflow: auto;
	padding: 24px;
	padding: 1.714285714rem;
}
.entry-content pre code,
.comment-content pre code {
	display: block;
}
.entry-content abbr,
.comment-content abbr,
.entry-content dfn,
.comment-content dfn,
.entry-content acronym,
.comment-content acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
.entry-content address,
.comment-content address {
	display: block;
	line-height: 1.714285714;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}
img.alignleft,
.wp-caption.alignleft {
	margin: 12px 24px 12px 0;
	margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}
img.alignright,
.wp-caption.alignright {
	margin: 12px 0 12px 24px;
	margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}
img.aligncenter,
.wp-caption.aligncenter {
	clear: both;
	margin-top: 12px;
	margin-top: 0.857142857rem;
	margin-bottom: 12px;
	margin-bottom: 0.857142857rem;
}
.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-content dl,
.comment-content dl {
	margin: 0 24px;
	margin: 0 1.714285714rem;
}
.entry-content dt,
.comment-content dt {
	font-weight: bold;
	line-height: 1.714285714;
}
.entry-content dd,
.comment-content dd {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.main-content-wrap article {
	border-bottom: 1px solid #ededed;
	margin-bottom: 72px;
	margin-bottom: 2.5rem;
	padding-bottom: 24px;
	padding-bottom: 0rem;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.page-links {
	clear: both;
	line-height: 1.714285714;
}
footer.entry-meta {
	margin-top: 0px;
	margin-top: 0rem;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #757575;
	margin-bottom:0rem;
}

footer.entry-meta a{
	text-decoration: underline;
	font-size:1.0em;
	font-weight:600;

}
.single-author .entry-meta .by-author {
	display: none;
}
.mu_register h2 {
	color: #757575;
	font-weight: normal;
}
.nav-previous,
.previous-image {
	float: left;
	width: 50%;
	margin-bottom:2.5rem;
}
.nav-next,
.next-image {
	float: right;
	text-align: right;
	width: 50%;
}
.nav-single + .comments-area,
#comment-nav-above {
	margin: 48px 0;
	margin: 3.428571429rem 0;
}
.siderbar-inner .widgets-wraps .widget_posts_wrap .latest-posts{margin-left:-8px;}
.single-post .sidebar-right{float:right;}
.single-post .main-content-wrap .nav-single{margin-bottom:70px;}
.single-post .main-content-wrap{width:74%; background:#fff;  border:1px solid #ddd; padding:15px;}
.assistive-text,
.site .screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}
.single-post .default-header-title .col-md-12>h1{display:none;}
.entry-title {
	margin-top: 0px;
	/* margin-bottom: 1.714285714rem; */
	font-size: 1.571428571rem;
}
.single-post #page-style>.container{margin-top:30px;}


.comments-title {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.5;
	font-weight: normal;
}
.comments-area article {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
.comments-area article header {
	margin:0;
	overflow: hidden;
	position: relative;
}
.comments-area .comment-content{
	text-align:left;
	padding-left: 0px;
}
.comments-area article header img {
	float: left;
	padding: 0;
	line-height: 0;
}
.comments-area article header cite,
.comments-area article header time {
	display: block;
	margin-left: 85px;
	margin-left: 6.071428571rem;
}
.comments-area article header cite {
	font-style: normal;
	font-size: 15px;
	font-size: 1.071428571rem;
	line-height: 1.42857143;
}
.comments-area cite b {
	font-weight: normal;
}
.comments-area article header time {
	line-height: 1.714285714;
	text-decoration: none;
	font-size: 12px;
	font-size: 0.857142857rem;
	color: #5e5e5e;
}
.comments-area article header a {
	text-decoration: none;
	color: #5e5e5e;
}
.comments-area article header a:hover {
	color: #21759b;
}
.comments-area article header cite a {
	color: #444;
}
.comments-area article header cite a:hover {
	text-decoration: underline;
}
.comments-area article header h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 12px;
	padding: 0.428571429rem 0.857142857rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	font-weight: normal;
	color: #fff;
	background-color: #0088d0;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #009cee, #0088d0);
	background-image: -ms-linear-gradient(top, #009cee, #0088d0);
	background-image: -webkit-linear-gradient(top, #009cee, #0088d0);
	background-image: -o-linear-gradient(top, #009cee, #0088d0);
	background-image: linear-gradient(top, #009cee, #0088d0);
	border-radius: 3px;
	border: 1px solid #007cbd;
}
.comments-area .bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	margin-left: 0.357142857rem;
	padding: 2px 5px;
	padding: 0.142857143rem 0.357142857rem;
	font-size: 10px;
	font-size: 0.714285714rem;
}
.comments-area .bypostauthor cite b {
	font-weight: bold;
}
a.comment-reply-link,
a.comment-edit-link {
	color: #686868;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
a.comment-reply-link:hover,
a.comment-edit-link:hover {
	color: #21759b;
}
.commentlist .pingback {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
#respond {
	margin-top: 48px;
	margin-top: 3.428571429rem;
}
#respond h3#reply-title {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.5;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	margin-left: 0.714285714rem;
	font-weight: normal;
	font-size: 12px;
	font-size: 0.857142857rem;
}
#respond form {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
#respond form p {
	margin: 11px 0;
	margin: 0.785714286rem 0;
}
#respond form p.logged-in-as {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
#respond form label {
	display: block;
	line-height: 1.714285714;
}
#respond form input[type="text"],
#respond form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	padding: 10px;
	padding: 0.714285714rem;
	width: 100%;
}
#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #5e5e5e;
}
.required {
	color: red;
}

.siderbar-inner {border:1px solid #ddd; background:#fff; padding-top:20px; padding-bottom:10px;}
.archive .main-content-wrap #content article.status-publish{position:relative;}
.archive .main-content-wrap #content .status-publish .col-md-4{padding-left:0px;}
.archive .main-content-wrap #content .status-publish .col-md-4 .entry-header>img{
	width:250px;
	height:200px;
}

.archive .main-content-wrap #primary #content article.status-publish>footer{text-align:right;}
.archive .main-content-wrap #content .status-publish .col-md-8{margin-bottom:25px; padding-right:0px;}
.archive .main-content-wrap #content .status-publish .col-md-8 .entry-content>p{max-height:100px; overflow:hidden;}
.archive .main-content-wrap #content .status-publish .col-md-8>h1{margin-top:0px; margin-bottom:30px;}

#page-style.boxed {max-width: 1320px;
	margin: 20px auto;
	-webkit-box-shadow: 0 0 12px rgba(0,g 0, 0, 0.15);
	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
	background:#fff;
	overflow:hidden; 
}
.single-item #page-style.boxed,
.page-template-templatestp-map-home-php #page-style.boxed,
.page-template-templatestp-map-php #page-style.boxed{
	margin:auto;
	max-width:none;
}





/*******************************************************/
/* Field value null */
.isNull{
	border:solid 2px #f00 !important;
	background-color:#FFECEC !important;
}
.modal{ z-index:99999; }
.javo_detail_file{ width:10px !important; }


/*---------------------------
listing Pagination CSS
-----------------------------*/
div.javo_pagination{ clear:both; text-align:center; padding:10px 0 0 0; margin:30px 0; }
div.javo_pagination:after{ content:' '; display:block; clear:both;}
div.javo_pagination > a{
	display:inline-block;
	padding:10px;
	background:#fcfcfc;
	border:solid 1px #ccc;
	border-radius: 2px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
div.javo_pagination > a:hover{ 
	background:#fff !important;
	transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-o-transform:scale(1.2);
	-ms-transform:scale(1.2);
}
div.javo_pagination > span.current{
	display:inline-block;
	font-size:10pt;
	padding:10px;
	background:#fff;
	border:solid 1px #ccc;
	border-radius: 2px;
}

div.javo_detail_slide, div.javo_detail_slide_cnt{ position:relative; }
div.flex-viewport {max-height: 500px;}
div.flex-viewport u{ cursor:pointer; }
div.javo_detail_slide_cnt .slides li{
	background:#454545;
	cursor:pointer;
}
div.javo_detail_slide_cnt .slides li:hover > img{
	opacity:0.5;
}

ul.flex-direction-nav{ list-style:none; }


div.javo_detail_slide .flex-prev, 
div.javo_detail_slide .flex-next,
div.javo_detail_slide_cnt .flex-prev,
div.javo_detail_slide_cnt .flex-next
{
	position:absolute;
	top:50%;
	text-indent:-999999px;
	display:block;
	margin:-15px 0 0 0;
	width:30px;
	height:30px;
	z-index:1;
	
	background:url('../liguelista/assets/images/javo_btn_slide_arrow.png') no-repeat;
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
}
div.javo_detail_slide .flex-prev,
div.javo_detail_slide_cnt .flex-prev{ 
	left:0px;
	background-position:0px 0px;
	
}
div.javo_detail_slide .flex-next,
div.javo_detail_slide_cnt .flex-next{
	right:0px;
	background-position:-30px 0px;
	
}
div.javo_detail_slide .flex-prev:hover, 
div.javo_detail_slide_cnt .flex-prev:hover{
	background-position:0px -30px;

}
div.javo_detail_slide .flex-next:hover,
div.javo_detail_slide_cnt .flex-next:hover{
	background-position:-30px -30px;
}
.search-down-layer { margin-top:10px; }
.javo_hover_content a{
	display:inline-block;
	position:absolute;
}
.javo_hover_content a > img{ border-radius:100px !important; }

/* Type2. Grid Style */
.javo-item-grid-listing .javo_detail_slide .flex-prev,
.javo-item-grid-listing .javo_detail_slide .flex-next{
	width:40px;
	height:40px;
	margin:-20px 0 0;
	background:url('../liguelista/assets/images/javo_btn_slide_arrow_2.png') no-repeat;
	transition:none;
	-webkit-transition:none;

}
.javo-item-grid-listing .javo_detail_slide .flex-prev{
	background-position:0px 0px;
}
.javo-item-grid-listing .javo_detail_slide .flex-next{
	background-position:-40px 0px;
}
.javo-item-grid-listing .javo_detail_slide .flex-prev:hover{
	background-position: 0px -40px;
}
.javo-item-grid-listing .javo_detail_slide .flex-next:hover{
	background-position: -40px -40px;
}

/* Ajax-list Button images size */
#standard-listing .javo_hover_content > a > img{ width:64px; height:64px; }
#album-listing .javo_hover_content > a > img{ width:100px; height:100px; }
#mini-album-listing .javo_hover_content > a > img{ width:85px; height:85px; }
#excerpt-listing .javo_hover_content > a > img{ width:32px; height:32px;}
#box-listing .javo_hover_content > a > img{ width:64px; height:64px; }
#blog-fancy .javo_hover_content > a > img{ width:85px; height:85px; }

/* Ajax-list Buttons positions */
.javo_hover_content > a{ z-index:5 }
.javo_hover_content > a:first-child{ z-index:4 }
.javo_hover_content > a:last-child{ z-index:3 }
#standard-listing .javo_hover_content > a{ top:37%; left:46%; }
#standard-listing .javo_hover_content > a:first-child{ top:26%; left:31%; }
#standard-listing .javo_hover_content > a:last-child{ top:16%; left:21%; }
#album-listing .javo_hover_content > a{ top:38%; left:49%; }
#album-listing .javo_hover_content > a:first-child{ top:28%; left:41%; }
#album-listing .javo_hover_content > a:last-child{ top:20%; left:35%; }
#mini-album-listing .javo_hover_content > a{ top:44%; left:49%; }
#mini-album-listing .javo_hover_content > a:first-child{ top:32%; left:36%; }
#mini-album-listing .javo_hover_content > a:last-child{ top:21%; left:23%; }
#excerpt-listing .javo_hover_content > a{ top:37%; left:46%; }
#excerpt-listing .javo_hover_content > a:first-child{ top:26%; left:31%; }
#excerpt-listing .javo_hover_content > a:last-child{ top:16%; left:21%; }
#box-listing .javo_hover_content > a{ top:37%; left:46%; }
#box-listing .javo_hover_content > a:first-child{ top:26%; left:31%; }
#box-listing .javo_hover_content > a:last-child{ top:16%; left:21%; }
#blog-fancy .javo_hover_content a{ top:46%; left:51%; }
#blog-fancy .javo_hover_content a:first-child{ top:33%; left:39%; }
#blog-fancy .javo_hover_content a:last-child{ top:17%; left:27%; }

p.features{ color:#aaa; }
p.features.active{ color:#000; }
p.features > i.icon{
	display:inline-block;
	vertical-align:middle;
}
p.features > i.icon{
	width:11px;
	height:10px;
	background:url("../liguelista/assets/images/icons/cross.png") no-repeat;
}
p.features.active > i.icon{
	background:url("../liguelista/assets/images/icons/checked.png") no-repeat;
}

div.lister-pic a{ display:block; }

#listers-box-list .img-in-text{
	position: absolute;
	right: 0;
	bottom: 0;
	color: #fff;
	font-size: 13px;
	padding: 2px 9px;
	background-color: #06AFDA;
}
.javo-txt-meta-area {
	display: block;
	padding: 0.2em 10px;
	min-width: 38px;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: #454545;
	color: #fff;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
	font-size: 1.0em;
}


.item-meta > span > span{ display:inline-block; }
.item-meta > span > span > i,
div.section-sns > span > i{
	display:block; 
	width:20px;
	height:18px;
	line-height:20px;
	cursor:pointer;
}

div.section-sns{ display:inline-block; }
div.section-sns > span{ display:inline-block; }

.item-meta .sns-facebook,
div.section-sns .sns-facebook{
	background: url('../liguelista/assets/images/sns/small-facebook.png') no-repeat;
}
.item-meta .sns-twitter,
div.section-sns .sns-twitter{
	background: url('../liguelista/assets/images/sns/small-twitter.png') no-repeat;
}
.item-meta .sns-google,
div.section-sns .sns-google{
	background: url('../liguelista/assets/images/sns/small-google.png') no-repeat;
}

/** 404 page **/
.error-page-wrap { background-image: url(../../liguelista/assets/images/bg/pattern12.png);}
.error-template {padding: 70px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
.error-page-wrap .error-template>div>form input{ font-size: 14px; font-weight: normal; line-height: 20px; padding:6px;}
.error-page-wrap .error-template>div>form label{display:none;}
.error-page-wrap .error-template>div>form{margin-top:40px;}
.error-template .error-actions a>span.glyphicon-home{margin-right:5px;}
.error-template>h1, .error-template>h2{font-size:30px;}
.error-template .error-details{padding:10px 0;}

/*blog list*/
.page-template-templatestp-blogs-php .blog-list-wrap-width #box-listing .blog-wrap1 .col-md-7 .detail h3{margin-top:0px;}
.page-template-templatestp-blogs-php .blog-list-wrap-width #box-listing .panel-body{max-height:163px;}
.page-template-templatestp-blogs-php #box-listing .panel-default .list-group-item .col-md-6>span{font-size:1em; margin-right:2px; position:relative;top:3px;}
.page-template-templatestp-blogs-php .blog-list-wrap-width #box-listing .box-wraps {padding-left:0;}


ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}
.page-template-templatestp-blogs-php .blog-wrap-inner .col-md-7 .detail h3{font-size:14px;}

/** comment style **/
#respond {
	background-color: transparent!important;
	box-shadow: none!important;
	padding: 0px!important;	
}
#respond > p, #respond p.comment-notes, 
p.logged-in-as { margin-bottom: 10px; }

p.logged-in-as{ padding-bottom: 0px; }

.comment-list {
	margin-bottom: 40px!important;
	margin-left: 0px!important;	
}

.comment-list li { list-style: none!important; }
.comment-list li.comment > div, .comment-list li.pingback > div {
	background-color: #ffffff;
	margin: 0;
	overflow: hidden;
	padding: 25px;
	margin-top: 2em;
	position: relative;
	padding-left: 116px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
}

.comment-list .children {
	margin-left: 0px!important;
	padding-left: 40px;
	border-left: 1px solid #ddd;
	background-repeat: no-repeat;
	background-position: left 20px;
	background-image: url('img/icons/comment-children-line.jpg');
}

.comment-list li.comment > div img.avatar, .comment-list li.pingback > div img.avatar {
	position: absolute;
	left: 29px;
	top: 29px;
	width: 60px;
	height: 60px;
}
.comment-list .reply { position: absolute; top:29px; right:29px; }
.comment-list .reply a {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	color: #FFFFFF;
	cursor: pointer;
	padding: 3px 7px;
	font-size: 11px;
	transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	width: auto;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	background-color: #333333;
}

.comment-list .comment-author { color: #333; }
.comment-list .comment-meta { font-size: 11px; line-height: 15px; }
.comment-list .comment-meta a { color: #888; }
.comment-list .comment-meta a:hover { color: #27CFC3; }
.comment-list .reply a:hover { background-color: #27CFC3; }
.comment-list li.comment > div p,
.comment-list li.pingback > div p {
	padding-bottom: 0px;
	margin-top: 10px;
}
#respond h3 .cancel-comment-reply, 
#respond #cancel-comment-reply-link{
	display: inline-block;	
	margin-left: 10px;
	padding-left: 10px;
	position: relative;
	border-left: 1px solid #dddddd;
}

#respond h3, h3#comments {
	text-transform: none;
	letter-spacing: -0.5px;
}
.comment-author .avatar, .entry-author {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}
.comment-respond .form-submit{ display: none; }
.siderbar-inner .author-img {padding:0px 0px 3px 20px;}
.siderbar-inner .author-tel .list-group li{padding:10px 10px;}
.siderbar-inner .author-tel .list-group .social {padding-top:5px;}


.commentlist {
padding: 20px;
background: #fff;
border: 1px solid #eee;
}

.commentlist li ul {
padding-left: 50px;
padding-top: 2em;
list-style: none;
}
.javo-event-item-slider>.row{margin-bottom:15px;} 
.sitemap-shortcode>.container{width:100%;}




/** ribon tag custom **/
.javo-left-overlay.bg-black .javo-txt-meta-area {background-color:#454545;}
.javo-left-overlay.bg-black .corner, .javo-left-overlay.bg-black .corner-background {width: 0; height: 0; border: 2px solid #454545; border-bottom-color: transparent; border-left-color: transparent;}

.javo-left-overlay.bg-sky .javo-txt-meta-area {background-color:#0099ff;}
.javo-left-overlay.bg-sky .corner, .javo-left-overlay.bg-sky .corner-background {width: 0; height: 0; border: 2px solid #0099ff; border-bottom-color: transparent; border-left-color: transparent;}

.javo-left-overlay.bg-red .javo-txt-meta-area {background-color:#ff1616;}
.javo-left-overlay.bg-red .corner, .javo-left-overlay.bg-red .corner-background {width: 0; height: 0; border: 2px solid #ff1616; border-bottom-color: transparent !important; border-left-color: transparent !important; background:none !important;}

#box-listing .javo-box-listing-meta{ padding-top:7px; }


/** pretty blogs = mini album **/

.pretty_blogs {min-height:225px;}

/* .pretty_blogs .line{border:none;border-bottom:solid 1px black;} */

.javo-item-blog-list-radius-img{
	display: block;
		border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	margin:0px;
}

.pretty_blogs h2 {
	color:#454545;
	font-size: 1.4em;
	font-weight:600;
}
.blog-meta-box{
	min-height:203px;
	position:relative;	
	z-index:2;
	padding:0 35px;


	border:solid 1px #efefef;
	border-radius:15px;
	-webkit-border-radius:15px;
	box-shadow:2px 2px 5px rgba(243, 243, 243, .2);
	-webkit-box-shadow:2px 2px 5px rgba(243, 243, 243, .8);
	
}
.blog-meta-box .blog-meta-box-arrow{
	position:absolute;
	z-index:1;
	width:15px;
	height:15px;
	transform: rotate(45deg);
	background:#fff;
	top: 50%;
	left: -2px;
	border-left:solid 1px #e0e0e0;
	border-bottom:solid 1px #e0e0e0;
	margin-left:-7.5px;
}



.pretty_blogs .blog-meta-box, .pretty_blogs .meta {
	font-size: 0.9em;
	color: #888;
	background:#fff;
}

.pretty_blogs .excerpt {
	height:50px;
	overflow:hidden;
	line-height:1.8em;
	margin:30px 0;
}

.pretty_blogs .meta {
	padding:5px 0 5px 0px;
}

.javo-bubble-dark.small{
	bottom:-9px !important;
	left:-1px !important;

}
.pretty_blogs .javo-bubble-dark {
position: absolute;
background: url('../liguelista/assets/images/javo-balloon.png') no-repeat;
bottom:-2px;
left:9px;
width:89px;
height:81px;
z-index:2;
}


.pretty_blogs .javo-bubble-dark span{
display: block;
float: left;
position: relative;
text-transform: uppercase;
font-size: 11px;
}


.pretty_blogs .javo-bubble-dark .down-text {
	color:#FF7347;
	text-align: center;
	top: 27px;
	left:0;
	width: 85px;
	font:bold italic 1.3em / 1.3em "Arial Black", Gadget, sans-serif;
}


.pretty_blogs .up-text {
	color: #FFFFFF;
	top: 26px;
	left:-1px;
	width:85px;
	text-align:center;
	font-size:0.9em;
}


.pretty_blogs .text_small_image{
	margin-top: 15px;
	margin-left: 25px;
	margin-bottom: 25px;
	font-size: 15px;
}

.pretty_blogs .text_title{
	color: #000;
	margin-bottom: 80px;
	font-size: 15px;
}
.javo-accent{}
.javo-accent.bold-number,
.javo-accent.bold-string{
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight:bold;
}
.javo-accent.color-74b4ff{ color:#74b4ff; }
.javo-accent.color-9c9c9c{ color:#9c9c9c; }
.javo-accent.margin-4-6{ margin:4px 6px; }
.javo-accent.margin-10-0{ margin:10px 0px; }
.javo-accent.padding-b2{
	padding-bottom:3px;
}
.javo-accent.border-bottom-dashed-1px-74b4ff{
	border-bottom:dashed 1px #74b4ff;
}
.javo-accent.border-bottom-dashed-1px-9c9c9c{
	text-transform:uppercase;
	font-size:15px;
	padding-bottom:10px;
}

.javo-grid-listing-excerpt{ height:90px; overflow:hidden; }
.javo-p-t-20px{ padding-top:20px; }

.javo-mini-album-rating-area{
	position:absolute;
	right:10px;
	bottom:15px;
	z-index:1;
	padding:3px 10px 8px 10px;
	border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;

	background:rgba(43, 43, 43, .8);
}
.blog-meta-box .javo-blog-meta-tags{
	border-top:dotted 1px #bbb;
	padding-top: 10px;
}
#mini-album-listing .flex-prev,
#mini-album-listing .flex-next{
	border-radius: 100%;
	border:none;
}

/** single post duplicated header hide **/
.single-post h1.custom-header {display:none;}

.wg-banner-wrap {background: #aaa; padding:10px;}
.wg-banner {
	color: #fff;
	text-align: center;
	padding: 30px;
	border: 1px solid #fff;
	font-size: 20px;
}

.javo-single-itma-wrap{ position:relative; }
.javo-single-itma-wrap > form{
	position:absolute;
	right:15%;
	bottom:-30px;
	z-index:2;
	background:#102241;
	border:solid 5px #fff;
	border-radius:5px;
	-webkit-border-radius:5px;
	padding:20px 15px;

}
.javo-single-itma-wrap > form small{ text-transform: uppercase; color:#fff;}
.javo-single-itma-wrap > form input,
.javo-single-itma-wrap > form select{ font-size:.9em; border-radius:50px; }


/** single post on content.php **/
body.single-post .entry-title {color:#333; text-transform: uppercase;}
body.single-post .single-post-meta {color: #777; margin-bottom:20px; font-size:1.0em; text-transform: uppercase; border-top:1px solid #ddd;}
body.single-post .entry-content {color:#747474;}
body.single-post .post-meta-infor {padding:10px 0 0 20px;}
body.single-post .post-social {margin-top:0px;}

.single-post-meta>.post-meta-infor>i{
	font-size:13px;
	position:relative;
	top:1px;
	margin-right:2px;
}
.nav-single >span>a>.meta-nav>i{position: relative; top: 4px;}
.single-post .main-content-wrap .nav-single{margin-bottom:0px !important; padding-bottom:50px; border-bottom:1px solid #ddd;}
.nav-single + .comments-area{margin-top:20px !important;}

h3#comments{text-align:center; margin-bottom:20px;}
.main-content-wrap article{margin-bottom:20px !important;}
.comments-area article.comment{border-bottom:none;}



/* Javo Custom Dropdown Box */
.sel-container input[type='text']{
	border:0px;
	line-height:1.5;
	padding:5px 10px;
	font-size:12px;
	display:block;
	width:100%;
}
.javo_mhome_wrap .sel-container input[type='text'], .item-list-page-wrap .sel-container input[type='text']{
	border:0px;
	line-height:1.5;
	padding:5px 10px;
	font-size:13px;
}
.sel-box{}
.sel-box .sel-container{ position:relative; border:1px #9e9e9e solid; background:#fff; overflow:hidden;}
.item-list-page-wrap .sel-box .sel-container{border:1px #c5c5c5 solid;}

.sel-box .sel-arraow{
	display:block;
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url("../liguelista/assets/images/icon/selectbox-arrow.png") right top no-repeat;
	cursor:pointer;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;	
}
.sel-box .sel-arraow.active{
	background-position:right bottom;
}
.sel-box .sel-content{
	position:relative;
	display:none;
}
.sel-box .sel-content > ul{
	position:absolute;
	z-index:9999;
	top:-1px;
	left:0;
	width:100%;
	max-height:300px;
	overflow-x:hidden;
	overflow-y:auto;
	padding:0;
	margin:0;
	list-style:none;
	border:solid 1px #ccc;
}
.sel-box .sel-content ul li{
	display:block;
	background:#eee;
	width:100%;
	padding:5px;
	cursor:pointer;
	border-bottom:solid 1px #ddd;
	transition:all .3s ease-in-out;
	text-align:left;
	font-size:1.0em;
	white-space:nowrap;
}
.sel-box .sel-content ul li:last-child{ border-bottom:none; }
.sel-box .sel-content ul li:hover{
	background:#fff;
}

/* Javo WideMap Columns */
.javo-filter-column{
	display:inline-block;
	vertical-align:top;
	width:32%;
}


/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}


.item-list-page-wrap input[readonly]{
	background:#fff;
	height:32px;

}
.item-list-page-wrap .input-group{ padding-right:3px; } 



/*****************************************
**	My Dashboard
*****************************************/

/* Not found user page */
#javo-user-404-page-wrap{}
#javo-user-404-page-wrap .page-header{ margin-top:150px; }
#javo-user-404-page-wrap .javo-user-404-controls{ margin:100px 0; }
#javo-user-404-page-wrap .javo-user-404-footer{ margin:100px 0; }


.javo_detail_slide .video > b{ position:relative; display:block; cursor:pointer; }
.javo_detail_slide .video > b:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: url('../liguelista/assets/images/javo-single-item-video-play.png') no-repeat center center;	
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.javo_detail_slide .video > b:hover:after{
	background-color:rgba(40, 40, 40, 0.8);
	opacity:0.8;
}
.javo-map-cluster{
	position:relative;
	border:solid 5px #fff !important;
	box-shadow:0px 0px 15px #666;
	-webkit-box-shadow:0px 0px 15px #666;
	-moz-box-shadow:0px 0px 15px #666;
	-ms-box-shadow:0px 0px 15px #666;
	-o-box-shadow:0px 0px 15px #666;
	border-radius:100%;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	background:#000;
	color:#fff;
	width:52px;
	height:52px;
	line-height:40px;
	text-align:center;
	cursor:pointer;
	font:bold 1.4em / 45px "Arial Black", Gadget, sans-serif;
}

.category-title small{ font-size:10pt; }
.line-height-19px{ line-height:19px; }
.padding-0-0-0-30px{ padding: 0 0 0 30px; }

/*remove firefox link outline*/
:-moz-any-link:focus {outline: none;}
/*remove firefox link outline*/

/* WPML Select Box */
#lang_sel ul ul{ z-index:1001; }

span.caret.visible-xs{
	position: absolute;
	top:50%;
	right: 0;
	border:none;
	margin-top:-15px;
	width:30px;
	height:30px;
	background:url('/images/javo-nav-arrow.png') no-repeat;

}

.screen-reader-text{ display:none; }
/*blog archive category*/
.archive.category p>a>img,
.single.single-post p>a>img{max-width:100%; height:auto;}
.gallery.gallery-size-thumbnail>br{clear:none !important;}
.single-attachment .site-content .entry-attachment>.attachment{text-align:center;}































/* header */

#header-one-line {z-index:999;}

.nav>li>a {font-size:13px; text-transform:uppercase; }

.mega-dropdown .navbar-nav>li>.dropdown-menu {
    margin-top:20px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.mega-dropdown .navbar-default .navbar-nav>li>a {
    width:200px;
    font-weight:bold;
}
.mega-dropdown {
  position: static !important;
  /* width:100%; */
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}



/** normal menu **/

.dropdown-menu:before {
content: "";
border-bottom: 15px solid #fff;
border-right: 17px solid transparent;
border-left: 17px solid transparent;
position: absolute;
top: -15px;
right: 12px;
z-index: 10;
.primary-menu-dropdown:before{border-bottom:15px solid #454545;}
} 
.item-list-page-wrap .navbar-form .btn-group .dropdown-menu{margin-top:15px}
.navbar-nav>li>.dropdown-menu {
margin-top: 15px;
border-top-left-radius: 5px;
border-top-right-radius: 4px;
}

#javo-navibar .navbar-nav li .caret{display:none;}

/* icons */
.button-icon-notice {
background: url(../liguelista/assets/images/sidebar-icon.png) no-repeat scroll 0 0;
width: 60px;
height: 49px;
}


.nav-right-button {
background: url(../liguelista/assets/images/sidebar-icon.png) no-repeat scroll 0 0;
width: 50px;
height: 50px;
}

.nav-right-button.button-icon-chat {background-position: -60px 0;}
.nav-right-button.button-icon-friend {background-position: -120px 0;}
#javo-navibar .nav-right-button.button-icon-fix {
	padding-top: 15px;
	margin-left: 0px;
}

/* .navbar-nav>li>a {padding-bottom:0px;} */
.navbar {margin-bottom:0px;}

.navbar-inverse {
/* background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
background-repeat: repeat-x;*/
background:#000000;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* avatar img */
.nav>li>a.topbar-user-image>img {max-height:20px; padding-bottom:0px;}

/* search style */
#header-one-line .navbar-form .input-group>.form-control {
width:150px;
height: 26px;
background:#E1E1E1;
}

#header-one-line .input-group-btn:last-child>.btn {
height: 27px;
background:#E1E1E1;
}



/*** Sitemap ***/
#javo-sitemap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
	z-index:999999;
}

#javo-sitemap.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#javo-sitemap input[type="search"] {
    position: absolute;
    bottom: 20%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#javo-sitemap .btn {
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;

}
#javo-sitemap .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: none;
	border-color: #357ebd;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}

#javo-sitemap .sitemap-intro { margin-top:20px;}
#javo-sitemap .sitemap-intro h4 {font-size:17px; color:#fff; margin-bottom:20px;}
#javo-sitemap .sitemap-intro p {font-size:13px; color:#fff; padding: 20px; border:5px solid #aaa; margin-left:20px; margin-right:20px;}

#javo-sitemap .sitemap-list .sitemap-cate{display:table; margin:0 auto;}
#javo-sitemap .sitemap-list {color:#eeeeee; margin-top:30px;}
#javo-sitemap .sitemap-list a {color:#aaa;}
#javo-sitemap .sitemap-list{font-size:15px; color:#aaa;}
#javo-sitemap .sitemap-list .sitemap-cate>h3{font-size:20px; color:#ddd;}
#javo-sitemap ul {margin-left:0px; padding-left:0px;}
#javo-sitemap li {list-style:none; text-transform:uppercase;}

#header-one-line #javo-navibar ul.navbar-left .menu-item a,
#header-one-line #javo-navibar>form{
	line-height:20px;
}
#header-one-line #javo-navibar>form{margin-top:14px; margin-bottom:9px;}
#header-one-line #javo-navibar .navbar-right>li>a{padding: 20px 10px 0px 10px;}
#header-one-line #javo-navibar .navbar-right>li:first-child>a{padding-right:12px;}
#header-one-line #javo-navibar .navbar-right>li>a>span{
	font-size:0.9em;
	border: 3px solid #777;
	padding: 5px;
	border-radius: 100%;
	top: -4px;
	color:#777;
}
#header-one-line #javo-navibar .navbar-right>li>a>img{
	border: 3px solid#777;
	border-radius:100%;
	width:29px !important;
	height:29px !important;
	position: relative;
	top: -3px;
}

#javo-navibar .dropdown-menu{background:#454545;}
#javo-navibar .dropdown-menu .menu-item-object-item a{color:#fff;}
#javo-navibar .dropdown-menu .menu-item-object-item a:hover{background:#454545; color:#fff;}



#javo-navibar .navbar-right li.right-menus .dropdown-menu>li>a:hover,
#javo-navibar .navbar-left li.menu-item .dropdown-menu>li>a:hover{background:#000; color:#fff;}

#javo-navibar .navbar-left .dropdown-menu:before{left:15px; right:inherit; border:none;}
#javo-navibar .navbar-right .dropdown-menu:before{border:none;}
#javo-navibar .navbar-right .dropdown-menu,
#javo-navibar .navbar-left .dropdown-menu{margin-top:0px; border-top-right-radius:0px; border-top-left-radius:0px; padding:0px;}

#javo-navibar .navbar-right .dropdown-menu li a,
#javo-navibar .navbar-left .dropdown-menu li a{font-size:13px; color:#ddd; padding:10px 20px; line-height:18px !important;}
#javo-navibar .navbar-right .dropdown-menu>li.active>a,
#javo-navibar .navbar-left .dropdown-menu>li.active>a{background:#000; color:#fff;}
.dropdown-menu .divider{background-color:#666;}

header .navbar-inverse{text-align:center; border-bottom:none;}
header .navbar-inverse .container-fluid .navbar-right{display:table; margin:0 auto;}
header .navbar-inverse .container-fluid #javo-navibar .navbar-left li a{
	line-height:20px;
	letter-spacing:0px;
}


/** navi  center **/
.single-item-navi .navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.single-item-navi .navbar .navbar-collapse {
  text-align: center;
}



/* single transparent menu */
.single-spy {position:relative; margin-top:-51px;}
.single-item #header-one-line .navbar {background: transparent;}
.single-item #header-one-line .navbar {background-color: transparent; border-color: transparent;}
.single-item #header-one-line .navbar-nav>li>a {color: #fff;}
.single-item #header-one-line .nav>li>a:hover, .single-item #header-one-line .nav>li>a:focus {color: #aaa;}
/* .single-spy {position:absolute; top:0; left:0;} */
.single-item #header-one-line .affix #javo-navibar .navbar-right>li>a>span{color:#777; border-color:#777;}

#header-one-line .navbar-brand {padding: 4px 40px 4px 0;} /* logo height */

.single-item #header-one-line {
background-color: rgba(0,0,0,0);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.4)), color-stop(100% rgba(0,0,0,0)));
background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
background-image: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0.4)), to(rgba(0,0,0,0)));
background-image: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
background-image: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
background-image: linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000', endColorstr='#00000000', GradientType=0);
background-repeat: repeat-x;
box-shadow: 0 0 0;
border: 0;
}

#login_panel .modal-body-content>i{font-size:1.3em; vertical-align:text-top;}
#login_panel .modal-button-row>.col-lg-12{margin-bottom:10px;}


/** white menu **/
.javo-navi-bright.navbar-inverse {background: #fff; box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); border-color:#fff;}
.javo-navi-bright.navbar-inverse .navbar-nav>li>a {color:#454545;}
.javo-navi-bright.navbar-inverse .navbar-nav>li>a:hover,
.javo-navi-bright.navbar-inverse .navbar-nav>li>a:hover span,
.javo-navi-bright.navbar-inverse .navbar-nav>li>a:hover img{color:#ccc !important; border-color:#ccc !important;}
.javo-navi-bright .navbar-nav>li {border-right:0px solid #aaa; padding-bottom:14px;}

.javo-navi-bright.navbar-inverse .navbar-collapse {border-color: transparent;}
.javo-navi-bright.navbar-inverse .navbar-nav>.active>a {background-color:transparent; color:#aaa;}
.javo-navi-bright.navbar-inverse .navbar-nav>.active {background-color:transparent;/*  border-top:1px inset #aaa; */ color:#aaa;}

/*dropdown - header*/

header #javo-navibar ul.navbar-left > li > ul.dropdown-menu> .dropdown-header{color: #bbb; padding: 5px 20px;}
header #javo-navibar ul.navbar-left > li > ul.dropdown-menu> .divider{margin:1px 0px 1px 0px;}

header .javo-main-navbar .navbar-header>.navbar-toggle{background:#1183bd;}


.single-item header .container-fluid{padding-top:0px; padding-bottom:0px;}
#javo-navibar .navbar-left>li,
header .container-fluid .navbar-header{padding-top:7px; padding-bottom:7px;}
.single-item #javo-navibar .navbar-left>li,
.single-item header .container-fluid .navbar-header{padding-top:0px; padding-bottom:0px;}
.single-item .navbar-right>li>a{padding-top:12px;}
.single-item #javo-navibar .nav-right-button.button-icon-fix{padding-top:12px;}
.single-item #header-one-line #javo-navibar .navbar-right>li>a>span,
.single-item #header-one-line #javo-navibar .navbar-right>li>a>img{
	color:#fff;
	border-color:#fff;
}
.single-item #header-one-line #javo-navibar .navbar-right>li>a{
	padding:12px 10px 10px 12px;
}
.single-item .javo-navi-bright .navbar-nav>li{padding-bottom:0px;}
.javo-navi-bright.navbar-inverse .navbar-nav>li>a:focus{color:#aaa !important;}

#login_panel .modal-header>button{font-size:25px;}
#login_panel .modal-body> .row:first-child .form-group{width:50%;}
#login_panel .modal-body> .row:first-child .form-group:first-child{float:left;}
#login_panel .modal-body> .row:first-child .form-group>input{width:100%;}

#header-one-line {position: relative;}

#header-one-line:after {
background: url("../liguelista/assets/images/bg/top-shadow.png") no-repeat scroll center 0 rgba(0, 0, 0, 0);
bottom: -33px;
content: "";
height: 42px;
left: 0;
position: absolute;
width: 100%;
z-index: 999;
}

.single-item #header-one-line:after, .page-template-templatestp-javo-map-wide-php #header-one-line:after, .page-template-templatestp-javo-map-box-php #header-one-line:after, .page-template-templatestp-item-list-php #header-one-line:after {
display:none;

}

/*topbar*/
.javo-topbar{min-height:36px;}
.javo-topbar .javo-topbar-right .topbar-sns>a>img{height:26px; margin:5px; border-radius:50%;}
.javo-topbar .javo-topbar-left{font-size:11px; line-height:36px;}
.javo-topbar .javo-topbar-right #lang_sel{height:12px; margin-right:10px;}
.javo-topbar .javo-topbar-right #lang_sel>ul>li>ul>li{z-index:1000;}
.javo-topbar .javo-topbar-left>span>i{font-size:15px; top:3px; right:3px; margin-left:5px;}
.javo-topbar .javo-topbar-right .topbar-wpml,
.javo-topbar .javo-topbar-right .topbar-sns{float:left;}
.javo-topbar .javo-topbar-left .navbar-left>li>a{padding:8px; font-size:11px;}
.javo-topbar .javo-topbar-left .navbar-left>li>a:hover,
.javo-topbar .javo-topbar-left .navbar-left>li>a:focus{background-color:transparent;}
.javo-topbar .javo-topbar-left .navbar-left .dropdown-menu{
	z-index:1500;
	margin-top:0px;
	background:#454545;
	padding:0px;
	border:0px;
	border-radius:0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.javo-topbar .javo-topbar-left .navbar-left .dropdown-menu:before{display:none;}
.javo-topbar .javo-topbar-left .navbar-left .dropdown-menu>li>a{color:#fff; padding-top:5px; padding-bottom:5px;}
.javo-topbar .javo-topbar-left .navbar-left .dropdown-menu>li>a:hover,
.javo-topbar .javo-topbar-left .navbar-left .dropdown-menu>li>a:focus{background-color:#000 !important; color:#ddd;}
.javo-topbar .javo-topbar-left .navbar-left .dropdown-menu>li.active>a{background:#000;}
/*topbar*/



























@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.navbar.affix {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    margin-top: 0;
    padding-top: 0px;
    border-radius: 0;
    animation: fadeIn 0.5s ease-in;
    -webkit-animation: fadeIn 0.5s;
}

body.admin-bar .navbar.affix { top: 32px;} /* if admin bar is abled */

.affix-placeholder {
    display: none;
}
.navbar.affix + .affix-placeholder {
    display: block;
    visibility: hidden;
}





/****search **/

.navbar-search {
    position: relative;
}
  
.navbar-search .search-query {
    padding-left: 29px;
}

.navbar-search .icon-search {
    position: absolute;
    top: 7px;
    left: 11px;
    background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings-white.png");
}

.navbar-search .search-query:focus, .navbar-search .search-query.focused {
    padding-left: 30px;
}

.search-query:focus + .icon-search {
    background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
}




















html, body{ font:13px/26px 'Raleway'; height:100%; min-height:100%;}
body{ overflow-y:scroll; }
img{ border:none; }
a{ 
	text-decoration:none; 
	/*color:#101010;*/
}
a:hover{ 
	text-decoration:underline; 
	color:#a1a1a1; 
}
html, body, h1, h2, h3, h4, h5, h6 { color:#646464; letter-spacing:1px;}
.wpb_row:after{ content:' '; display:table; clear:both; } /*  Compatibility Visual Composer ver4.3.2 */


@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 300;
  src: url(http://themes.googleusercontent.com/static/fonts/oswald/v8/HqHm7BVC_nzzTui2lzQTDT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 400;
  src: url(http://themes.googleusercontent.com/static/fonts/oswald/v8/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}
@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  src: url(http://themes.googleusercontent.com/static/fonts/oswald/v8/bH7276GfdCjMjApa_dkG6T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}




 .rodapemenu{
 	position: absolute;
 	float: left;
 	color: #a1a1a1;
 	z-index:9999999;
 }
 .rodapecopyright{
 	position: absolute;float: left;color: #a1a1a1;padding-top: 30px;
 }
 .rodapetelefone{
 	float: right;
 	position: relative;
 	margin-right: 10px;
 }

 .rodapetelefonenumero{
 	font-size: 30px !important;
 	color: #f45f00 !important;
 }

 .esconde320{
 	display: inline;
 }




* {
	font-family: Oswald,Arial, 'Open Sans';
}
p {
	font-family: Arial;
	margin: 0px;
}

a:hover {
	color: #ff5900;
	text-decoration: none;
}

.javo-vc-row .javo-parallax {
	background-image: url(/wp-content/uploads/2013/12/OxiDigital-Marketing-Digital-Porto-Alegre-Cria%C3%A7%C3%A3o-de-Sites-Banner-1700X630.png);
}

.single-item #header-one-line .navbar {
	background-color: #FFF;
	border-color: #FFF;
}

#rev_slider_1_1_wrapper {
	z-index: 0;
}

.pesquisa {
	margin-top: -250px;
	margin-bottom: 130px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.search-type-a-wrap form {
	width: 100%;
	text-align: center;
	z-index: 11;
	margin-top: 0px;
	margin-bottom: 0px;
}

#triple ul  {
	padding: 0px;
}

#triple li  {
	width: 100%;
	display: inline-block;
	float: left;
	background-image: url(/imagens/lista-categorias.png);
	background-repeat: no-repeat;
	list-style: none;
	line-height: 30px;
	background-position: left center;
	text-decoration: none;
	font-size: 12px;
	color: #007fbf;
	font-style: normal;
	font-weight: normal;
	font-family: Oswald, sans-serif;
	margin: 0px;
	text-align: left;
	padding: 0px;
	text-transform: uppercase;
	text-indent: 7px;
}

/*.search-type-a-inner {
padding: 10px 15px 10px 15px;
background: #FF6600;
border-radius: 0px;
display: inline-block;

}*/

.search-type-a-wrap .search-a-items, .search-type-a-wrap .form-control {
	width: 400px;
	border: 0px;
}

.chosen-container-active .chosen-single {
	border: 0px;
}

.javo-archive-header-search-bar .search-type-a-inner {
	background-color: #FF6600;
	margin-top: 0px;
	text-transform: uppercase;
}

form[data-javo-search-form] input[name="s"] {
	margin: 0px 0px 5px 0px;
	height: 60px;
	line-height: 60px;
	padding: 0 0 0 10px;
	font-size: 30px;
	width: 100%;
	text-transform: uppercase;
	width: 300px;
	font-weight: 500;
}

a.chosen-single {
	background: #fff;
	border-radius: 0px;
	box-shadow: none;
	margin: 0px 5px;
	height: 60px;
	line-height: 60px;
	padding: 0 0 0 10px;
	font-size: 30px;
}

.chosen-container-active .chosen-single {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}

div.item-list-page-wrap div.chosen-container.chosen-container-single {
	width: 100% !important;
}

div.chosen-container-single a.chosen-single span {
	line-height: 60px;
	color: #007dc0;
	font-size: 30px;
}

div.chosen-container-single a.chosen-single {
	background: #fff;
	border-radius: 0px;
	height: 60px;
	box-shadow: none;
	border: 0px;
}

.chosen-container {
	width: 400px;
}

div.chosen-container-single a.chosen-single div b {
	background-position: 0px 20px;
	border-right: 0px;
}

#javo-navibar .navbar-left > li, header .container-fluid .navbar-header {
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: 300;
}

#header-one-line .navbar-brand {
	padding: 5px 0px 0px 0px;
}

.single-item header .container-fluid .navbar-header {
	padding-bottom: 20px;
}

.esconde {
	display: none;
}

#header-one-line #javo-navibar ul.navbar-left .menu-item a {
	color: #007dc0;
	font-size: 20px;
	line-height: 42px;
	font-family: Oswald, Arial;
}

.menu-item a:hover {
	color: #FF6600;
}

.chosen-container {
	width: 300px;
}

.admin-color-setting, .btn.admin-color-setting {
	font-size: 33px;
}

.javo-archive-header-search-bar .container {
	background-color: #FF6600;
	border-radius: 0px;
	box-shadow: 0px 0px 20px #FF6600;
	border: 0px;
	width: 100%;
}



#javo-archive-sidebar-nav > li.li-with-ul > span {
	color: #fff;
	line-height: 30px;

}

#javo-archive-sidebar-nav>li>ul a {
	padding-left: 0px !important;
	margin-left: -30px !important;
	text-decoration: none;
}



/* CATEGORIAS */

.categorias {
	text-align: left;
	text-indent: 0;
	text-decoration: none;
	font-size: 19px;
	line-height: 48px;
	color: #1e73be;
	font-style: normal;
	margin: 40px 0px 0px 0px;
	clear: both;
	position: relative;
}

.categorias>ul {
	list-style-type: none;
	padding: 0px;
}

.categorias>li {
	margin-bottom: 0;
	line-height: 24px;
	display: block;
	list-style-type: none;
}

.espacocategorias {
	background-color: #FFF;
	margin-bottom: 0px;
}

.cadernosdestaque {
	padding: 149px 0px 0px 0px;
  min-height: 51px;
  float: left;
  clear: both;
  position: relative;
  width: 255px;
  margin: 0px 0px 0px 0px;
}

.cadernosdestaque-titulo {
	padding: 0px 0px 0px 10px;
	text-align: left;
	text-decoration: none;
	font-size: 25px;
	color: #ffffff;
	font-style: normal;
	font-weight: 300;
	font-family: Oswald,
sans-serif;
	position: relative;
	background: rgba(255,89,0,0.7);
	min-height: 36px;
	width: 100%;
	float: left;
	position: relative;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	line-height: 40px;
}

.clientes > p {
	text-align: center;
	text-decoration: none;
	font-size: 40px;
	color: #007dbf;
	font-style: normal;
}

.clientes > span {
	color: #ff6600;
	font-style: normal;
	font-weight: 500;
}

footer.footer-wrap {
	font-family: Open Sans;
	background: #f4f4f4;
}

.tesoura {
	float: left;
	clear: both;
	position: relative;
	margin: 7px 0 0 2px;
}

.retangulo-holder {
	padding: 12px 1px 0 0;
	text-align: center;
	text-indent: 0;
	text-decoration: none;
	font-size: 20px;
	line-height: 14.4px;
	color: #1183bd;
	font-style: normal;
	font-weight: normal;
	width: 185px;
	position: relative;
	background: url(imagens/retangulo.png) no-repeat;
	min-height: 82px;
	float: left;
	clear: both;
	position: relative;
	width: 213px;
	margin: 0 0 0 0;
}

#javo-archive-sidebar-nav > li > a {
	background: #1e73be;
	font-size: 14px;
	line-height: 28px;
	text-transform: uppercase;
}
#javo-archive-sidebar-nav > li > a:hover {
	color: #f45f00;
}

div.javo-archive-list div.media-body h3.media-heading a {
	font-size: 24px;
	color: #333;
	padding-left: 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-weight: 500;
}

h1 {
	font-family: 'Oswald:300', sans-seif;
}

h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
	font-size: 65%;
}

h2 {
}

.javo-archive-list-inner-excerpt {
	min-height: 49px;
}

h3, .h3 {
  font-size: 24px;
  line-height: 36px;
}

.chosen-container .chosen-container-single {
	display: none;
}

footer.footer-wrap .widgettitle {
/* margin-bottom: 20px; */
/* padding-bottom: 5px; */
	background-image: none;
}

.footer-wrap .widgettitle span {
	padding-right: 10px;
	color: #000000;
	background-color: transparent;
}

footer.footer-wrap .widgettitle span {
	color: #000000;
	text-transform: uppercase;
	font-size: 15px;
}

.atendimento_online {
	padding: 0 0 15px 0;
	background: #007dbf;
	min-height: 59px;
	float: right;
	position: relative;
	width: 235px;
	margin: 0 0 0 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	margin-right: 30px;
}

.layer33 {
	background: #ff6600;
	width: 235px;
	height: 5px;
	float: left;
	position: relative;
	margin: 0 0 0 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.fones {
	float: left;
	position: relative;
	margin: 10px 10px 0px 0px;
}

.c_wrapper33 {
	float: right;
	position: relative;
	margin: 2px 0 0 0;
}

.clearfix {
	display: inline-block;
}

.atendimento_online_2 {
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	color: #ffffff;
	font-style: normal;
	margin: 5px 0px -10px 0px;
	float: left;
	position: relative;
}

.anuncie_em_nosso_sit {
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	color: #ffffff;
	font-style: normal;
	margin: 4px 0 -3px 13px;
	float: left;
	clear: both;
	position: relative;
}

.widgets-wraps .textwidget {
	font-weight: 300;
}

.widgets-wraps>ul>li {
	font-size: 0.88em;
	line-height: 2em;
	list-style-type: circle;
	display: list-item;
	font-weight: 300;
}

#javo-archive-sidebar-nav li {
	line-height: 20px;
	list-style-type: none;
}

.barra_inferior {
	padding: 17px 112px 18px 109px;
	background: #333333;
	min-height: 36px;
	float: left;
	clear: both;
	position: relative;
	width: 1145px;
	margin: 2px 0 0 0;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.c_wrapper23 {
	float: left;
	position: relative;
	width: 347px;
	margin: 0 0 0 0;
}

.privacidade {
	text-align: center;
	text-decoration: underline;
	font-size: 12px;
	color: #777777;
	font-style: normal;
	font-weight: normal;
	font-family: Oswald, 'Open Sans', Arial;
	margin: 0 0 -2px 9px;
	float: left;
	position: relative;
}

.trabalhe_conosco_2 {
	text-align: center;
	text-decoration: underline;
	font-size: 12px;
	color: #777777;
	font-style: normal;
	font-weight: normal;
	font-family: Oswald, 'Open Sans', Arial;
	margin: 0 0 -2px 4px;
	float: left;
	position: relative;
}

.mapa_do_site {
	text-align: center;
	text-decoration: underline;
	font-size: 12px;
	color: #777777;
	font-style: normal;
	font-weight: normal;
	font-family: Oswald, 'Open Sans', Arial;
	margin: 0 0 0 3px;
	float: left;
	position: relative;
}

.atendimento_ao_clien {
	text-align: left;
	text-decoration: none;
	font-size: 14px;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-family: Oswald,sans-serif;
	margin: 0px 10px 0px 0px;
	float: right;
	position: relative;
}

.telefonerodape {
	text-align: left;
	text-decoration: none;
	font-size: 30px;
	color: #f45f00;
	font-style: normal;
	font-weight: normal;
	font-family: Oswald,sans-serif;
	margin: -1px 0 -5px 0;
	float: right;
	position: relative;
}

.chosen-container .chosen-drop {
	color: #000000;
	font-family: Oswald, sans-seif;
}

.chosen-container-single .chosen-search {
	position: relative;
	z-index: 1010;
	margin: 0;
	padding: 3px 4px;
	white-space: nowrap;
	margin-top: -55px;
	width: 95%;
}

.chosen-container-single .chosen-search input[type=text] {
	border: 0px;
	line-height: 40px;
	background-color: #fff;
	font-size: 30px;
	color: #007dc0;
}

.search-box-inline {
	display: inline-flex;
	margin-bottom: 0;
	vertical-align: middle;
	height: 60px;
	text-transform: uppercase;
	margin-left: 5px;
}

::-webkit-input-placeholder {
 /* WebKit browsers */
	color: #007dc0;
}

:-moz-placeholder {
 /* Mozilla Firefox 4 to 18 */
	color: #007dc0;
	opacity: 1;
}

::-moz-placeholder {
 /* Mozilla Firefox 19+ */
	color: #007dc0;
	opacity: 1;
}

:-ms-input-placeholder {
 /* Internet Explorer 10+ */
	color: #007dc0;
}

.siderbar-inner {
	border: 1px solid #ddd;
	background: #fff;
	padding-top: 0px;
	padding-bottom: 0px;
}

.widgets-wraps {
	padding: 5px;
	margin-bottom: 0px;
}

ul.redes-sociais>li {
	padding: 3px 3px 0px 0px;
	padding-left: 0;
	list-style: none;
	margin-left: 0px;
	float: left;
}

ul.redes-sociais {
	margin-left: -40px;
	float: left;
}

ul.galeria>li {
	padding: 3px 3px 0px 0px;
	padding-left: 0;
	list-style: none;
	margin-left: 0px;
	float: left;
}

ul.galeria {
	margin-left: -40px;
	float: left;
}

.sponsorwrapper .fours-column {
	margin-right: 1px;
	margin-bottom: 1px;
	width: 170px;
	float: left;
}

.search-type-a-wrap a.chosen-single {
	margin: 0px;
}



#menu-menu-lateral {
	background-color: #1e73be;
}

#menu-menu-lateral a {
	color: #fff;
}

#menu-menu-lateral a:hover {
	color: #f45f00;
}


.resultado {
	float: left;
	padding-left: 10px;
	margin-top: 10px;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: #101010;
	font-style: normal;
	font-weight: 300;
	font-family: Oswald, 'Open Sans', Arial;
	text-align: left;
	width: 25%;
}

.autocomplete-suggestions{
	background-color: #fff;
	padding: 10px;
	max-height: 500px;
	z-index: 1;
	text-transform: uppercase;
	overflow: scroll;
	width: initial;
}

address {
	
	color: #101010;
}



.resultadopesquisa_mdn {
	float: left;
	padding-left: 20px;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: #646464;
	font-style: normal;
	font-family: Oswald, 'Open Sans', Arial;
	text-align: left;

}

.resultadopesquisa_gratuito {
	float: left;
	padding-left: 20px;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: #646464;
	font-style: normal;
	font-weight: 300;
	font-family: Oswald, 'Open Sans', Arial;
	text-align: left;
	line-height: 20px;
}

.mdl_rodape {
	background: #eee;
	border-top: 0px solid #1e73be;
	border-bottom: 0px solid #1e73be;
	padding: 0px 0px 10px 0px;

}


.javo-archive-list-inner-excerpt > p {
	margin: 0px;
}





#h2 .title-negrito {
	font-weight: 500;
	font-size: 20px;
}

#h2 .title-gratuito {
	font-weight: 300;
	font-size: 20px;
}

.javo-archive-header-search-bar>.container {

}




#TB_ajaxContent p {
margin: 0px;
padding: 5px !important;
}


#TB_ajaxContent {
width: auto !important;
height: auto !important;
background-color: #ffffff;
}

.margintopbanner {
	margin-top: 30px;
}


.col-subcategorias{
	width: 50%;
	float: left;
}


.sidebar-box {
    max-height: 350px;
    position: relative;
    min-height: 100px;
    overflow: hidden;
}
.sidebar-box .read-more {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px 0 20px 0px;
    background-color: #ffffff;
}
.sidebar-box2 {
    max-height: 350px;
    position: relative;
    min-height: 100px;
    overflow: hidden;
}
.sidebar-box2 .read-more2 {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 20px 0 20px 0px;
    background-color: #ffffff;
}


.titlecadernos {
	font-size: 50px;
	color: #000000; /*#f45f00*/
	padding: 15px 15px 13px 14px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 3px;
	display: inline-block;
}

.subtitlecadernos {
	font-size: 20px;
}

.quebralinha{
	display: block;
	text-align: right;
}
.quebratelefone{
	display: block;
	text-align: right;
	font-weight: 500;
}
.quebraddd{
	display: block;
	text-align: left;
	font-weight: 500;
}


.relative {
	position: relative;
	z-index: 999999;
}

.javo_post_header_fancy {

}





.panel-free-post {
	background-image: linear-gradient(to bottom, white, #F7F7F6);
}

.panel-heading-free-post {
	padding: 15px 15px;
	border: #DDDDDD solid 1px;
}

.cartoes-credito, .cartoes-debito, .vale-refeicao, .outras {
	margin-left: 0px;
}

.cartoes-credito li, .cartoes-debito li, .vale-refeicao li {
	background-image: url('/imagens/sprite-credito.png');
	background-repeat: no-repeat;
	border: none !important;
	height: 30px;
	width: 45px;
	overflow: hidden;
}

/*Cartões de Crédito*/
.cartoes-credito .visa {
	background-position: 0 -30px;
	;
}

.cartoes-credito .mastercard {
	background-position: -50px -30px;
}

.cartoes-credito .american-express {
	background-position: -98px -30px;
}

.cartoes-credito .diners-club {
	background-position: -148px -30px;
}

.cartoes-credito .hipercard {
	background-position: -247px -30px;
}

.cartoes-credito .elo {
	background-position: -199px -30px;
}

.cartoes-credito .aura {
	background-position: -296px -30px;
}

/*Cartões de Débito*/
.cartoes-debito .visa-electron {
	background-position: 0px -32px;
}

.cartoes-debito .maestro {
	background-position: -387px -30px;
}

.cartoes-debito .itau {
	background-position: -223px 0;
}

.cartoes-debito .bradesco {
	background-position: -312px 0;
}

.cartoes-debito .banco-brasil {
	background-position: -269px 0;
}

/*Vale Refeição*/
.vale-refeicao .ticket-restaurante {
	background-position: -432px -30px;
}

.vale-refeicao .vale-refeicao {
	background-position: -526px -29px;
}

.vale-refeicao .sodexo {
	background-position: -570px -29px;
}

.vale-refeicao .visa-vale-alelo {
	background-position: -620px -29px;
}

.vale-refeicao .vale-card {
	background-position: -340px -30px;
}

.vale-refeicao .nutricash {
	background-position: -670px -29px;
}

.icon-plus {
	background-image: url('/imagens/open.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 24px;
	height: 24px;
	display: block;
}

.icon-minus {
	background-image: url('/imagens/close.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 24px;
	height: 24px;
	display: block;
}

.cidade-estado {
   font-size: 13px;
   font-style: italic;
}

.mdvit{
	width: 100%;
}




.pesquisahome{
	margin-top: -250px;
	margin-bottom: 150px;
}



.lista-subcategorias {
	list-style-type: none;
	text-transform: uppercase;
}


.titulo-lista-subcategorias {
	font-family: 'Oswald',arial;
	font-weight: 300;
	font-size: 18px;
	color: #FF6600;
	line-height: 35px;
	margin: 0px;
	padding-left: 5px;
}
.titulo-lista-subcategorias:hover {
	color: #1e73be;
}

.inner-items > p {
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	font-family: 'oswald',arial;
}

b, strong {
font-weight: 500;
}



.categorias_resultado {
width: 100%;
display: inline-block;
}

.categorias_resultado li > a{
	color: #1e73be;
}
.categorias_resultado li > a:hover{
	color: #f45f00;
}


.minisite_rodape {
	background: #1e73be;
	border-top: 0px solid #1e73be;
	border-bottom: 0px solid #1e73be;
	padding: 0px 0px 10px 0px;

}
.minisite {
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	font-style: normal;
	font-family: Oswald, sans-serif;
	margin: -1px 0 0;
	text-align: left;
	padding: 0 1px;
}



.resultadopesquisa_minisite {
	float: left;
	padding-left: 10px;
	margin-top: 10px;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	font-style: normal;
	font-family: Oswald, 'Open Sans', Arial;
	text-align: left;
	width: 25%;
	font-weight: 300;
}

.minisite_borda{
	border:1px solid #1e73be;
	margin-bottom:5px;
}

.resultadopesquisa_minisite a{
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	font-style: normal;
	font-family: Oswald, 'Open Sans', Arial;
	margin: -1px 0 0;
	padding: 0 1px;
}

.resultadopesquisa_minisite a:hover{
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: #428bca;
	font-style: normal;
	font-family: Oswald, 'Open Sans', Arial;
	margin: -1px 0 0;
	padding: 0 1px;
}






.mdvit_rodape {
	background: #f45f00;
	border-top: 0px solid #f45f00;
	border-bottom: 0px solid #f45f00;
	padding: 0px 0px 10px 0px;
	margin: -1px;

}

.mdvit_endereco {
	text-decoration: none;
	font-size: 14px;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-family: Oswald, sans-serif;
	margin: -1px 0 0;
	text-align: left;
	padding: 0 1px;
}

.mdvit_cidade {
	text-decoration: none;
	font-size: 14px;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-family: Oswald, sans-serif;
	margin: -1px 0 0;
	text-align: left;
	padding: 0 1px;
}

.mdvit_telefone {
	text-decoration: none;
	font-size: 14px;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-family: Oswald, sans-serif;
	margin: -1px 0 0;
	text-align: left;
	padding: 0 1px;
}

.mdvit_site {
	text-decoration: none;
	font-size: 14px;
	color: #ffffff;
	font-style: normal;
	font-weight: normal;
	font-family: Oswald, sans-serif;
	margin: -1px 0 0;
	text-align: left;
	padding: 0 1px;
}

.mdvit_borda{
	border:1px solid #f45f00;
	margin-bottom:5px;
}

.mdvit_borda_logotipo {
padding: 4px;
border: 1px solid #ddd;
border-radius: 0px;
}

.resultadopesquisa_mdvit {
	float: left;
	padding-left: 10px;
	margin-top: 10px;
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	font-style: normal;
	font-weight: 300;
	font-family: Oswald, 'Open Sans', Arial;
	text-align: left;
	width: 25%;
	font-weight: 300;

}



.resultadopesquisa_mdvit a{
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	font-style: normal;
	font-family: Oswald, 'Open Sans', Arial;
	margin: -1px 0 0;
	padding: 0 1px;
}

.resultadopesquisa_mdvit a:hover{
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	color: #428bca;
	font-style: normal;
	font-family: Oswald, 'Open Sans', Arial;
	margin: -1px 0 0;
	padding: 0 1px;
}





.verbanner{
	background-color: #f45f00;
	float: right;
	margin-top: -45px;
	padding: 10px;
	right: 0px;
	position: absolute;
}

.versite{
	background-color: #1e73be;
	float: right;
	margin-top: -45px;
	padding: 10px;
	right: 0px;
	position: absolute;
}


.widgets-wraps>ul>li>a {
	color: #323131;

}

.widgets-wraps>ul>li>a:hover {
	color: #ff5900;
	
}






label, input, button, select {
	padding-left: 15px;
	font-weight: 300;
	width: 100%;
	line-height: 50px;
	font-size: 30px;
	margin-top: 10px;
}

textarea {
	width: 100%;
	line-height: 28px;
	font-size: 20px;
	height: 199px;
	font-weight: 300;
	padding-left: 15px;
	margin-top: 10px;
}
input[type=file] {
	display: block;
	font-size: 20px;
}

div.wpcf7-validation-errors {
	border: 0px;
	font-size: 20px;
	color: #f45f00;
}
div.wpcf7-mail-sent-ok {
	border: 0px;
	font-size: 25px;
	color: #007dc0;
}

	.frasehomesmartphone{
		display: none;
	}


/*******************************************************************************************
1200 pixels – Desktops com monitores widescreen.
960 pixels – Tablets em formato paisagem e monitores antigos.
768 pixels – Tablets em formato retrato.
480 pixels – Smartphones em formato paisagem.
320 pixels – Smartphones em formato retrato.
********************************************************************************************/


@media only screen and (min-width : 961px) and (max-width : 1199px) {


	.container {
		width: 100%;
	}

	.clearfix {
		display: inline-block;
		display: none;
	}


	  .search-box-inline {
		display: inline-block;
		margin-bottom: 5px;
		vertical-align: middle;
		color: #007dc0;
		float: left;
	}

	#header-one-line .navbar-brand {
		padding: 5px 0px 0px 0px;
		width: 120px;
	}

	#header-one-line .navbar-brand img {
		padding: 5px 0px 0px 0px;
		width: 120px;
	}

	#header-one-line #javo-navibar ul.navbar-left .menu-item a {
		line-height: 20px;
		color: #007dc0;
		font-size: 16px;
	}
}




/*****************************************************************************************/
@media only screen and (min-width : 481px) and (max-width : 960px) {


	.container {
		width: 100%;
	}
	.barralateral {
		display: none;
	}

	.col-sm-4 {
		width: 85px;
	}

	#header-one-line .navbar-brand {
		padding: 5px 0px 0px 0px;
		width: 120px;
	}

	#header-one-line .navbar-brand img {
		padding: 5px 0px 0px 0px;
		width: 120px;
	}

	#header-one-line #javo-navibar ul.navbar-left .menu-item a {
		line-height: 20px;
		color: #007dc0;
		font-size: 16px;
	}

	.search-box-inline {
		display: inline-block;
		margin-bottom: 5px;
		vertical-align: middle;
		color: #007dc0;
		float: left;
	}

	.search-box-inline {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
		color: #007dc0;
		width: 250px;
		position: relative;
	}




	input[type=submit].btn-block, input[type=reset].btn-block, input[type=button].btn-block {
	width: 100px;
	margin-top: 0px;
	}

	form[data-javo-search-form] input[name="s"] {
		margin: 0px 0px 5px 0px;
		height: 60px;
		line-height: 60px;
		padding: 0 0 0 10px;
		font-size: 30px;
		text-transform: uppercase;
		width: 250px;
		font-weight: 500;
		}


	.clearfix {
		display: inline-block;
		display: none;
	}

	#header-one-line #javo-navibar .navbar-left {
		display: block;
		text-align: center;
	}

	.search-type-a-inner {
		padding: 10px 10px 10px 10px;
		border-radius: 3px;
		display: inline-block;
		width: 100%;
		position: relative;
	}


	.search-type-a-inner .search-box-inline:last-child>input {
	width: 80px;
	font-size: 22px;
	height: 100%;
	}

	.sponsorwrapper .fours-column {
	margin-right: 20px;
	margin-bottom: 10px;
	width: 150px;
	float: left;
	}

	.relative {
	  display: none !important;
	}
	.frasehomesmartphone{
		display: none;
	}



}





/*****************************************************************************************/
@media only screen and (min-width : 0px) and (max-width : 480px) {

	.frasehomesmartphone{
		display: block;
		margin-top: 50px;
		margin-bottom: 50px;
	}



	.rev_slider_wrapper {
	  display: none !important;
	}

	.clearfix {
	  display: none !important;
	}

	.esconde, .bannerhomemedio, .listadeclientes, .cdestaque {
		display: none !important;
	}

	 .rodapemenu{
 		display: none !important;
	 }
	 .rodapecopyright{
	 	display: none !important;
	 }
	 .rodapetelefone{
		float: none  !important;
		position: relative  !important;
		margin-right: 0px  !important;
		text-align: center  !important;
	 }

	 .rodapetelefonenumero{
	 	font-size: 30px !important;
	 	color: #f45f00 !important;
	 	float: none !important;
	 }

	 .esconde320{
	 	display: none !important;
	 }

	 .atendimento_online clearfix{
	 	display: none !important;
	 }

	.navbar.affix {
	position: absolute !important;
	}

	.pesquisahome {
  		margin-top: 10px !important;
  		margin-bottom: 0px !important;
	}
	.espacocategorias, .categoriasdestaque {
	  display: none !important;
	}

	footer.footer-wrap {
	  display: none !important;
	}

	.carousel .owl-item {
	  float: left;
	  text-align: center;
	  height: 220px;
	}

	#header-one-line .navbar-brand {
	  padding: 0px 0px 0px 50px !important;
	  height: 70px !important;
	}

	#header-one-line #javo-navibar ul.navbar-left .menu-item a {
	  color: #007dc0 !important;
	  font-size: 20px !important;
	  line-height: 20px !important;
	  font-family: Oswald, Arial !important;
	  text-align: center !important;
	}


	.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
	  margin-right: -15px !important;
	  margin-left: -15px !important;
	}

	.navbar-toggle {
	  position: relative !important;
	  float: none !important;
	  padding: 10px 10px !important;
	  margin-top: 0px !important;
	  margin-bottom: 10px !important;
	  border: 0px !important;
	  border-radius: 0px !important;
	}

	.container {
	  padding-right: 0px !important;
	  padding-left: 0px !important;
	  margin-right: auto !important;
	  margin-left: auto !important;
	}

	.search-type-a-inner {
	  padding: 0px 0px 0px 0px !important;
	  background: #fff !important;
	  border-radius: 0px !important;
	  display: block !important;
	}

	.footer-bottom {
		padding-top: 0px !important;
		border: 0px !important;
		margin-top: 100px;
	}

	.search-type-a-inner .search-box-inline {
	  width: 100% !important;
	  margin-bottom: 0px !important;
	}

	.search-type-a-inner .search-box-inline:last-child {
	  width: 100% !important;
	  margin-left: 0px !important;
	}

	.javo-archive-list div.media-body {
	  max-height: 250px !important;
	  margin: 0px !important;
	}
	.javo-archive-list .media-body {
		  padding: 0px 0px 0px 0px !important;
	}

	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	  position: relative !important;
	  min-height: 1px !important;
	  padding-right: 0px !important;
	  padding-left: 0px !important;
	  margin: 0px !important;
	}

	div.javo-archive-list div.media-body h3.media-heading a {
	  font-size: 20px !important;
	  padding-left: 5px !important;
	  text-transform: uppercase !important;
	  font-weight: 500 !important;
	  line-height: 25px !important;
	}

	.javo-archive-list .media-body>div.row .javo-archive-list-inner-excerpt {
	  max-height: 200px !important;
	}

	.resultadopesquisa_minisite, .resultadopesquisa_mdvit{
		  width: 100% !important;
	}

	.resultado {
		width: 100% !important;
	  float: left !important;
	  padding-left: 5px !important;
	  margin-top: 0px !important;
	}

	.barralateral{
		display: none !important;
	}

	.javo-archive-header-search-bar form[data-javo-search-form] input[type="submit"] {
	  margin-left: -5px !important;
	}

	.javo-archive-list-inner-excerpt > p {
	  margin: 0px !important;
	  padding: 10px !important;
	}

	.javo-archive-list .media>div.pull-left {
	  width: 100% !important;
	  border: 0px !important;
	  margin: 0px !important;
	  padding-left: 70px !important;
	}

	.javo-archive-list .media {
	  border: 0px !important;
	  padding: 0px !important;
	}

	.panel-body {
	  padding: 0px !important;
	}

	.archive-classic-style-wrap {
	  border: 0px !important;
	  margin-bottom: 0px !important;
	}

	.icon-plus {
	  display: none !important;
	}

	.panel-heading-free-post {
	  padding: 5px 5px  !important;
	  border: #DDDDDD solid 1px  !important;
	}

	.panel-title {
	  margin-top: 10px !important;
	  margin-bottom: 10px !important;
	  font-size: 14px !important;
	  color: inherit !important;
	  line-height: 20px !important;
	}

	.javo-archive-sub-category {
	  display: none !important;
	}





}

