/**

Custom or additional bootstrap css.
These are mostly default css

Since : 1.0
Last Modified Date : 06/08/2014
Ref : http://charliepark.org/bootstrap_buttons/

**/

.btn-dark {
	background-color: hsl(0, 0%, 16%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b5b5b", endColorstr="#282828");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5b5b5b), to(#282828));
	background-image: -moz-linear-gradient(top, #5b5b5b, #282828);
	background-image: -ms-linear-gradient(top, #5b5b5b, #282828);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #282828));
	background-image: -webkit-linear-gradient(top, #5b5b5b, #282828);
	background-image: -o-linear-gradient(top, #5b5b5b, #282828);
	background-image: linear-gradient(#5b5b5b, #282828);
	border-color: #282828 #282828 hsl(0, 0%, 11%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}


.btn-gray {
	background-color: hsl(70, 11%, 23%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b7f66", endColorstr="#3e4134");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#7b7f66), to(#3e4134));
	background-image: -moz-linear-gradient(top, #7b7f66, #3e4134);
	background-image: -ms-linear-gradient(top, #7b7f66, #3e4134);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7b7f66), color-stop(100%, #3e4134));
	background-image: -webkit-linear-gradient(top, #7b7f66, #3e4134);
	background-image: -o-linear-gradient(top, #7b7f66, #3e4134);
	background-image: linear-gradient(#7b7f66, #3e4134);
	border-color: #3e4134 #3e4134 hsl(70, 11%, 17.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
	-webkit-font-smoothing: antialiased;
}



/** cycle buttons **/
.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 100% !important;
}
.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 25px;
}
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 35px;
}
.btn.btn-xxs{
	width:20px;
	height:20px;
	padding:0px;
}
.btn.btn-black-line{
	border:solid 2px #000;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-ms-border-radius:0px;
	-o-border-radius:0px;
}
/* Custom Alert Color */
.alert.alert-rectangle{
	border-radius:0px;
	-webkit-border-radius:0px;
}
.alert.alert-no-padding{
	padding:5px;
	margin:0px;
}
.alert.alert-light-gray{
	color: #999;
	background-color: #efefef;
	border-color: #eee;
}
.alert.alert-dark{
	color: #fff;
	background-color: #454545;
	border-color: #000;
}
.img-inner-shadow{
	box-shadow:-2px -2px 2px rgba(45, 45 ,45, .8);
	-webkit-box-shadow:-2px -2px 2px rgba(45, 45 ,45, .8);
}
.text-excerpt{
	border-top:dashed 1px #bbb;
	padding:15px 0;
	line-height:1.8em;
}
.panel.panel-relative{ position:relative; }
.pagination.pagination-dark{ margin-top:0px; margin-bottom:0px; margin-right:5px; }
.pagination.pagination-upper > li > a{ text-transform:uppercase; }
.pagination.pagination-dark > li > a{ 
	color:#454545;
	border:solid 1px #CFCFCF;
	cursor:default;
}
.pagination.pagination-dark > li > a:hover{ border:solid 1px #CFCFCF; }
.pagination.pagination-dark > li.active > a{
	background-color:#454545;
	background: linear-gradient(top, #454545 49%,#000 50%);
	background: -webkit-linear-gradient(top, #454545 49%,#000 50%);	
	color:#fff;
}
.col-md-8.padding-right-none{ padding-right:0px; }
.col-md-12.margin-top-12,
.page-header.margin-top-12
{ margin-top:12px; }

.page-header > i{
	display:block;
	font-style:normal;
	font-size:10pt;
	padding:0;
	margin:10px 0 0;
}
.page-header > i > a{ color:#999; }
.media-heading.margin-10-0{ margin:10px 0; }
.input-group.padding-10-0{ padding:10px 0; }
.input-group-addon.color-fff{ color:#fff; }
.input-group-addon.border-none{ border:none; }
.input-group-addon.reactangle{
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-ms-border-radius:0px;
	-o-border-radius:0px;
}
.list.list-unstyled{ list-style:none; }
.glyphicon.font-size-4{ font-size: 0.4em; }
.glyphicon.color-ccc{ color:#ccc; }