.footer-top section #support .row > .col-md-8{
	background:#f2f2f2;
	padding:20px;
}
.footer-top-full-wrap{
	border-top:1px solid #bbb;
	padding:30px 0;
}
.footer-top .col-md-8 #newsletter-form div, .footer-top .col-md-8 #newsletter-form input{float:left;}
.footer-top .col-md-8 #newsletter-form > div span{
	padding:10px 15px;
	border:1px solid #bbb;
}
.footer-top .col-md-8 #newsletter-form > .me-input-email{margin-left:15px;}
.footer-top .col-md-8 #newsletter-form button{
	background:#738DE9;
	border:none;
	color:white;
	min-width:150px;
	height:35px;
}
.footer-top .col-md-8 #kleo_mailchimp-3 .panel{background:#f2f2f2;}
.footer-top #newsletter-form{margin-left:0px;}
.footer-top .col-md-8 #kleo_mailchimp-3 .col-md-4{padding:0px;}
.footer-top .col-md-8 #newsletter-form #yname, .footer-top .col-md-8 #newsletter-form #mc_email{margin-top:1px;}
.footer-top .col-md-8 #newsletter-form .glyphicon{margin-right:-1px;}
.footer-top .col-md-8 #newsletter-form .col-md-3{margin-bottom:20px; margin-top:1px;}

.footer-top .col-md-8 #newsletter-form .mc-after-text{margin-bottom:15px;}



/*login modal*/
#register_panel .modal-dialog,
#login_panel .modal-dialog{
	top:80px;
}
#register_panel .modal-header img,
#login_panel .modal-header img{
	margin-right:5px;
}
#register_panel .modal-header h4,
#login_panel .modal-header h4{
	font-weight:bold;
}
#register_panel .modal-dialog .modal-content,
#login_panel .modal-dialog .modal-content{
	width:90%;
	padding:20px;
}
#register_panel .modal-dialog .modal-content .modal-body,
#login_panel .modal-dialog .modal-content .modal-body{
	padding: 15px 15px 0px 15px;
}

#login_panel .modal-dialog .modal-content .form-group{
	padding:0px 15px;
}
#register_panel .modal-dialog .modal-content .checkbox,
#login_panel .modal-dialog .modal-content .checkbox{
	margin-left:15px;
}

#login_panel .modal-dialog .modal-content .modal-body .row{
	margin-bottom:15px;
}
#register_panel .modal-dialog .modal-content .modal-body .row .modal-body-content,
#login_panel .modal-dialog .modal-content .modal-body .row .modal-body-content{
	font-size:12px;
}
#register_panel .modal-dialog .modal-content .modal-body .modal-button-row,
#login_panel .modal-dialog .modal-content .modal-body .modal-button-row{
	margin-bottom:0px;
}
#register_panel .modal-dialog .modal-content .modal-footer,
#login_panel .modal-dialog .modal-content .modal-footer{
	padding: 19px 19px 0px;
}

/*footer banner*/
.footer-top-banner-row{padding:20px 0px; margin-right:0px !important; margin-left:0px !important;}
.footer-top-banner-row>.container{text-align:center;}
.footer-top-banner-row>.container img{max-width:1000px; max-height:300px;}
/*footer banner*/