
/* javo_SOMW Controller */
.javo_somw_panel{
	position:absolute;
	z-index:300;
	top:0px;
	left:0px;
	width:350px;
	height:100%;
	background-color:#343433;
	overflow-x:hidden;
	overflow-y:scroll;
}
.javo_somw_panel.right{
	left:auto;
	right:0px;
}
.javo_somw_panel::-webkit-scrollbar { width: 8px; height: 8px; border: 3px solid #454545; }
.javo_somw_panel::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment{ display: block; height: 10px; background: #454545;}
.javo_somw_panel::-webkit-scrollbar-track{ background: #454545; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.6)}
.javo_somw_panel::-webkit-scrollbar-thumb{ height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}
.javo_somw_panel:after{ content:" "; display:block; clear:both; }


/* Loading Animation */
.javo_somw_loading{
	display:none;
	position:fixed;
	background:url('../images/map_loading.gif') no-repeat;
	top:50%;
	left:50%;
	width:300px;
	height:400px;
	margin:-200px 0 0 -150px;
	z-index:1000001;
}

/* Map Open/Close Button */
.javo_somw_opener{
	position:absolute;
	background:#019DD7;
	font:1.0em/48px 'tahoma', sans-serif;
	text-align:center;
	z-index:100;
	width:48px;
	height:48px;
	cursor:pointer;
	color:#fff;
}

/* Google Map InfoWindow */
.javo_somw_info{ max-width:500px; min-height:130px; width:350px; overflow:hidden; margin-bottom:0 !important;}
.javo_somw_info .title{ padding:0; margin:0; }
.javo_somw_info .hr-line{ padding:0; margin:3px 0; border:none; border-bottom:solid 1px #aaa; }
.javo_somw_info_body{ display:block; position:relative; }
.javo_somw_info_body:after{ content:" "; display:block; clear:both; }
.javo_somw_info_body.pic{ position:absolute; width:80px; display:inline-block; top:0; left:0; }
.javo_somw_info_body.text{ padding:0 0 0 85px; }
.javo_somw_dl.inline{ padding:0; margin:0; }
.javo_somw_dl.inline:after{ content:" "; display:block; clear:both; }
.javo_somw_dl.inline dt{ float:left; font-weight:bold; font-size:10pt; line-height:1.2em; }
.javo_somw_dl.inline dd{ float:left; width:auto; font-size:10pt; line-height:1.2em; }
.javo_somw_info .btn {border:0px;border-radius:0px;}

/** InfoWindow : additional css **/
.javo_somw_info { position:relative; }
.javo_somw_info .javo-this-go-more{ position:absolute; left:0; bottom:0; margin:5px; }
.javo_somw_info .pics {float:right;position:relative;}
.javo_somw_info .pics .thumb {width:130px; height:165px; overflow:hidden; position:relative; color:#454545;}
.javo_somw_info .pics .thumb img {width:150px; height:165px;}
.javo_somw_info .des {float:left; width:196px; padding:5px; color:#454545;}
.javo_somw_info .javo-left-overlay {position: absolute; top: 11px; left: -4px;}
.javo_somw_info .img-in-text {
	position: absolute;
	right: 0px;
	bottom: 0;
	color: white;
	font-size: 13px;
	padding: 4px 6px;
	background-color: #06AFDA;
	z-index:6;
	border-top-left-radius: 7px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border:1px solid #3391F7;
	border-right:0;
	border-bottom:0;
	line-height:15px;
}
.javo_somw_info .des .lister .thumb img {width: 50px;height: 50px;display: block;border-radius: 100%;-moz-border-radius: 100%;-webkit-border-radius: 100%;}
.javo_somw_info .des .lister .thumb{width: 56px;height: 56px;padding: 3px;background: #777;display: inline-block;float: left;margin-right: 10px;border-radius: 100%;-moz-border-radius: 100%;-webkit-border-radius: 100%;}
.javo_somw_info .des .lister .thumb:hover{background: #f00056;padding: 0;-webkit-animation: pulse ease-in-out 1 normal 500ms;-moz-animation: pulse ease-in-out 1 normal 500ms;-ms-animation: pulse ease-in-out 1 normal 500ms;-o-animation: pulse ease-in-out 1 normal 500ms;animation: pulse ease-in-out 1 normal 500ms;border: 3px solid #f00056;}
.javo_somw_info .des .prp-meta {padding-left:0;}
.javo_somw_info hr{margin-top:10px; margin-bottom:10px; border:0; border-top:1px dotted #aaa;}


#javo-map-wide-wrapper{ position:relative; letter-spacing:0;font:13px/15px 'Open Sans'; background:#343434;}
/* .javo_somw_info {font:13px/15px 'Raleway';} */
.map-top-btns{ margin:15px 0; }
.map-top-btns .btn {background-color:#1495e5 !important;}
.javo_somw_panel h2 {font-size:14px; font-weight:400; color:#fff; text-transform:uppercase;}

.javo_somw_panel .javo_somw_list_inner {border:0;border-bottom: 1px solid #454545; padding: 6px 3px 4px 4px;}
.javo_somw_panel .newrow a {color:#ddd;}
.javo_somw_panel .newrow .javo_pagination a {color:#454545;}
.javo_somw_panel .javo-hmap-pagination-wrap {margin-top:20px;}
.javo_somw_panel h4.title {font-size:13px; color:#ccc; text-transform:uppercase;}


/** bright style **/
.javo_somw_panel.bright a {color:#454545;}
.javo_somw_panel.bright {color:#3D445B;}
.javo_somw_panel.bright .newrow button {border: solid 1px #ddd; background-color: #eee;}
.javo_somw_panel.bright button.active {color:#fff; background:#3D445B;}
.javo_somw_panel.bright {background:#fff;}
.javo_somw_panel.bright .javo_somw_list_inner {border:0;border-top: 1px solid #ddd;background-color: #fff;}
.javo_somw_panel.bright .meta-wrap {padding:5px 3px;}
.javo_somw_panel.bright .map-top-btns .btn{background-color: #3D445B !important;}
.javo_somw_panel.bright h2 {color:#3D445B;}


.javo_somw_panel .category-btns-wrap {}
.javo_somw_panel .btn-map-panel {
border: solid 1px #555;
background-color: #454545;
background-image: linear-gradient(top, #454545 0%, #999 100%);
font-size: 11px;
padding: 3px 5px;
margin: 3px;
}
.javo_somw_panel .btn-map-panel{color:#eee;}
.javo_somw_panel .btn-map-panel.active {
	background-color: #0192C8;
color: #fff;
border: 1px #00aeef solid
}

.javo_mhome_map_area .javo_somw_info ul li .prp-meta h4{font-size:15px;}
.javo_mhome_map_area .javo_somw_info ul{line-height:20px; font-size:12px;}

.javo_mhome_map_area .javo_somw_info .javo-left-overlay .javo-txt-meta-area,
.javo_mhome_map_area .javo_somw_info .img-in-text{
	font-family: 'Raleway';
	font-weight: 500;
	font-size:11px;
}
.javo_mhome_map_area .javo_somw_info .javo-left-overlay .javo-txt-meta-area{padding-top:3px;}


/** my location : geolocation **/
.javo_somw_panel .distance {padding:12px 0 0 0; width:210px;}

/** tooltip **/
.javo-slider-tooltip{
	display: block;
	position: absolute;
	border: 0px solid #D9D9D9;
	font: 400 12px/12px Arial;
	border-radius: 3px;
	background: red;
	color:#fff;
	top: -26px;
	padding: 5px;
	left: 50%;
	margin:0 0 0 -26px;
	text-align: center;
	z-index:9998;
}
.javo-slider-tooltip strong{display: block;padding: 2px;}
.noUi-horizontal .noUi-handle { width: 20px; height: 20px; left: -17px; top: -6px; border-radius: 50px;}
.noUi-background {background: #ccc; box-shadow:none;}
.noUi-handle {box-shadow:none;}
.noUi-handle { background:#E65F4A; border:0;} /* dots */
.noUi-handle:after, .noUi-handle:before {background:transparent;}
.noUi-connect {background:#55606E; height:6px;} /* rage between dats */
.noUi-target {height:8px;}
/** // tooltip **/


.javo_somw_panel.mobile-display-panel{display:none;}
.mobile-map a {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 500;
	background: #aaa;
	color: #fff;
	cursor: pointer;
	padding: 5px;
	display:none;
	letter-spacing:0px;
	line-height:15px;
}


/** Auto Complete */
.javo_somw_panel .chosen-single span{ color:#000; }

/** Map Loader */
.javo-wide-map-container{ position:relative; }

.javo_mhome_wrap > .map_cover,
.javo-wide-map-container > .map_cover{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:15;
	display:none;
	background-color: rgba( 45, 45, 45, .5);
	background-image: url('../images/loading.gif');
	background-position:center center;
	background-repeat: no-repeat;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	-o-filter: blur(2px);
	filter: blur(2px);

}
.javo_mhome_wrap > .map_cover.active,
.javo-wide-map-container > .map_cover.active{ display:block; }
.javo_somw_list_content{ margin-bottom:250px; }