/* General Blueprint Style */
/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/

@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


.container > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 2.875em 1.875em 1.875em;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: left;
	font-weight: 400;
}

.container > header > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.container > header > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #fff;
	background: #47a3da;
}

.container > header nav {
	float: right;
	text-align: center;
}

.container > header nav a {
	display: inline-block;
	position: relative;
	text-align: left;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.1em;
	border: 4px solid #47a3da;
}

.container > header nav a > span {
	display: none;
}

.container > header nav a:hover:before {
	content: attr(data-info);
	color: #47a3da;
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.container > header nav a:hover {
	background: #47a3da;
}

.bp-icon:after {
	font-family: 'bpicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #47a3da;
	-webkit-font-smoothing: antialiased;
}

.container > header nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.container > header nav a:hover:after {
	color: #fff;
}

.bp-icon-next:after {
	content: "\e000";
}
.bp-icon-drop:after {
	content: "\e001";
}
.bp-icon-archive:after {
	content: "\e002";
}
.bp-icon-about:after {
	content: "\e003";
}
.bp-icon-prev:after {
	content: "\e004";
}

p.info {
	text-align: center;
	padding: 20px;
}

@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > span,
	.container > header h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto;
	}

	.container > header > span {
		text-indent: 30px;
	}
}






/** login form **/
.login-tabs h3.tab-inner-titles{
color: #454545;
text-align: center;
font-size: 15px;
font-weight: 600;
text-transform: uppercase;
margin: 0 0 20px 0;
line-height:20px;
}


.login-tabs .left-inner-addon {
    position: relative;
}
.login-tabs .left-inner-addon input {
    padding-left: 45px;
}
.login-tabs .left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.login-tabs input[type=submit] {width:100%; border:0;}
.login-tabs input[type=text] .login-tabs input[type=password] {border:0; border-radius: 0;}
.login-tabs input[placeholder] {color:#454545;}
/* .login-tabs #login-section .glyphicon {color:#fff; background: #47a3da;} */
.login-tabs .form-control {border-radius:0;}

.login-tabs .btn-lg, .login-tabs .btn-group-lg>.btn {border-radius:0;}

.login-tabs .btn-facebook, .login-tabs .btn-twitter {color: #fff; width:100%;}
.login-tabs .btn-facebook, .login-tabs .btn-twitter a:hover {color: #eee;} /* if it's a href */

.login-tabs .btn-facebook {background-color: #3b5998; border:1px solid #324B7E;}
.login-tabs .btn-twitter {background-color: #39a9e0; border:1px solid #3593C2;}

.login-tabs .tab-inner-des {border:0px solid #ddd; padding: 0px 25px 15px 25px; background:#fff; margin-top:0px;}


.login-tabs .tabs ul>li>a>span {
	font-size: 13px;
	text-transform: uppercase;
}
.login-tabs .tabs ul>li>a>i{font-size:18px;margin-right:2px; position:relative; top:2px;}
.form-horizontal .form-group{margin-right:0px !important; margin-left:0px !important;}
.login-tabs .tabs ul>li>a{color:#aaa;}
.tabs nav li.tab-current a{color:#454545;}

.login-tabs #tabs>nav{max-height:50px;}
.login-tabs #tabs>nav>ul,
.login-tabs #tabs>nav>ul>li{height:50px;}
#tabs>.content{
	border: 1px solid #777;
	border-top: none;
	padding: 20px 40px 0px 40px;
	background:#fff;
}

.login-tabs .tabs .content #contact-section .tab-inner-des{padding:20px;}
.login-tabs .tabs .content #contact-section ul{font-size:15px; list-style:none; padding-left:15px;}
.login-tabs .tabs .content #contact-section ul>li{margin-bottom:10px;}



.tabs nav ul li {
	border: 1px solid #becbd2;
	border-bottom: none;
	margin: 0 0.25em;
	display: block;
	float: left;
	position: relative;
	background:#fff;
}


.line-title-bigdots {
margin-top: 0px;
margin-bottom: 14px;
font-family: 'Oswald';
font-weight: 500;
letter-spacing: 1px;
text-transform: uppercase;
background-attachment: scroll;
background-repeat: repeat-x;
background-position: right center;
background-image: url('../images/divider1.png');
border: none;
}

.line-title-bigdots span {
padding-right: 10px;
color: #333333;
background-color: #FFFFFF;
}

.line-title-bigdots h2 {
	font-size:15px !important;
	margin-top:0px !important;
	font-weight:600;
	line-height: 20px !important;
}

#contact-section .tab-inner-des {border:1px solid #ddd; padding: 15px 25px 15px 25px; background:#fff; margin-top:40px;}