/*----------------------------------
Index
====================================
	1. Slide Search
	2. Event Listing
	3. Categories
	4. Grid Open
	5. Javo Gallery
	6. Javo Events Gallery
	7. Featured Items
	8. Search-Form
	9. Item Price Table
----------------------------------*/


/*

	###	1. Slide Search		###

*/

/* Horizontal Style */
#javo-slide-search .item{height:400px; overflow:hidden;}
#javo-slide-search .item-author-info img, #javo-slide-search .item-author-info .rating_score, #javo-slide-search .item-author-info .event_info,  #javo-slide-search .item-author-info .event_info img {width:80px; height:80px; border-radius:50px;}
#javo-slide-search .item-author-info .rating_score {background: transparent; font-size: 20px; border:3px solid #fff; color:#fff; padding: 19px 0 0 0;}
#javo-slide-search .item-author-info .event_info {background: transparent; font-size: 20px; border:3px solid #fff; color:#fff; padding:5px;}
#javo-slide-search .item-author-info {
	position: absolute;
	left: 70%;
	padding-bottom: 35px;
	bottom: -4px;
	z-index:10;
}
#javo-slide-search .carousel-caption h2 {
	font-size:25px; 
	color:#fff; 
	padding:0 20px; 
	border:3px solid #fff; 
	margin-top: 15px;
	line-height:1.8;
	font-weight:500;
	font-family:'Oswald';
	letter-spacing:1px;
}
#javo-box-bg-search .search-slider-title-wrap h2,
#javo-slide-search .carousel-caption p {font-size:20px; color:#fff;}


#javo-slide-search .slider-search-box .inner_wrap {position:relative;}
#javo-slide-search .slider-search-box .inner_wrap form{
	position:absolute;
	width:100%;
	text-align:center;
	z-index:11;
	top:80px;
}
#javo-slide-search .slider-search-box .navbar-form .btn-group ul.dropdown-menu li .btn{text-align:left;}

#javo-slide-search .javo-offer-area-content{
	display:table;
	width:100%;
	height:100%;
	overflow:hidden;
}
#javo-slide-search .javo-offer-area-content > div{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	font: .7em / .9em "Arial Black", Gadget, sans-serif;
	/* background: rgba(255, 255, 255, 0.3); */
}
#javo-slide-search .slider-search-box .inner_wrap form .slider-search-part-wrap{
	display:inline-block;
	padding:15px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 3px;
}

#javo-slide-search .item a .carousel-caption{
	bottom:0;
	right:auto;
	left:5%;
	z-index:10;
	padding-bottom:30px;
}
#javo-slide-search .item a .carousel-caption:hover{
	color:#ccc;
}

#javo-box-bg-search .javo-slider-search-meta,
#javo-slide-search .javo-slider-search-meta{
	color: #fff;
	font-size: 1.8em;
	margin-bottom: 0px;
	text-align: left;
	padding-left:20px;
	line-height:1;
	font-family: 'Oswald';
	font-weight: 500;
	letter-spacing: 1px;
} 



.item-author-info> .col-md-4>a>div, .item-author-info> .col-md-4>a>img{position:relative; z-index:11;}
.slider-search-box .slider-search-part-wrap .btn-group ul.dropdown-menu{ left:auto; top:50px;}


.slider-search-box .slider-search-part-wrap .btn-group .dropdown-menu:before{border-bottom-color:#fff;}

#javo-slide-search .carousel-indicators{bottom:5px;}
#javo-slide-search .carousel-control>i{
	-webkit-transform:scale(0.5,1);
	top:50%;
	position:absolute;
	display:inline-block;
	color:#fff;
}

#javo-slide-search .carousel-control{
	background:none;
	opacity:1;
	z-index:11;
	width:5%;
}


#javo-slide-search .carousel-control.left>i{
	left:50%;
}
#javo-slide-search .carousel-control.right>i{
	right:50%;
}

.slide-search-bottom-shadow{
	position: absolute;
	height: 15%;
	width: 100%;
	bottom: 0;
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.6));
	background-image: linear-gradient(transparent, rgba(0,0,0,0.6));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0);";
	z-index:8;
}
#javo-slide-search .javo-this-filter li{list-style:none;}

#javo-box-bg-search .carousel-indicators,
#javo-slide-search .carousel-indicators{z-index:11;}

/**//*  Vertical Style *//****/
#javo-box-bg-search .item{height:700px; overflow:hidden;}
#javo-box-bg-search .item-author-info img, #javo-box-bg-search .item-author-info .rating_score, #javo-box-bg-search .item-author-info .event_info,  #javo-box-bg-search .item-author-info .event_info img {width:80px; height:80px; border-radius:50px;}
#javo-box-bg-search .item-author-info .rating_score {
	background: #fff; 
	font-size: 20px; 
	padding: 20px 0 0 0px;
}
#javo-box-bg-search .item-author-info .event_info {background: #fff; font-size: 20px;}


#javo-box-bg-search .item-author-info {
	position: absolute;
	left: 70%;
	padding-bottom: 35px;
	bottom: -4px;
	z-index:12;
}
#javo-box-bg-search .item-author-info.vertical{
	left:10%;

}
#javo-box-bg-search .background-slide-title h3 {font-size:37px; color:#fff;}
#javo-box-bg-search .background-slide-title p {font-size:20px; color:#fff;}


#javo-box-bg-search .backgroundr-search-box .inner_wrap {position:relative;}

#javo-box-bg-search .backgroundr-search-box .inner_wrap form{
	position:absolute;
	width:100%;
	text-align:center;
	z-index:15;
	top:80px;
}

#javo-box-bg-search .javo-offer-area-content{
	display: table;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	max-width: 60px;
}
#javo-box-bg-search .javo-offer-area-content > div{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	font: .7em / .9em "Arial Black", Gadget, sans-serif;
}
#javo-box-bg-search .backgroundr-search-box .inner_wrap form .backgroundr-search-part-wrap{
	display:inline-block;
	padding:15px;
	background: rgba(0,0,0,0.5);
}
#javo-box-bg-search .item a .background-slide-title:hover{ color:#ccc; }
.item-author-info> .col-md-4>a>div, .item-author-info> .col-md-4>a>img{position:relative; z-index:14;}
.backgroundr-search-box .backgroundr-search-part-wrap .btn-group ul.dropdown-menu{right:0; left:auto; top:50px;}
.backgroundr-search-box .backgroundr-search-part-wrap .btn-group .dropdown-menu:before{border-bottom-color:#fff;}
#javo-box-bg-search .carousel-indicators{bottom:55px;}
#javo-box-bg-search .carousel-control>i{
	-webkit-transform:scale(0.5,1);
	top:50%;
	position:absolute;
	display:inline-block;
	color:#eee;
}

#javo-box-bg-search .carousel-control{
	background:none;
	opacity:1;
	z-index:14;
	width:5%;
}
#javo-box-bg-search .carousel-control.left>i{ left:50%; }
#javo-box-bg-search .carousel-control.right>i{ right:50%; }
#javo-box-bg-search .javo-this-filter li{list-style:none;}
#javo-box-bg-search .background-search-box .inner_wrap form{
	position:absolute;
	background:#000;
	z-index:15;
	top:15%;
	right:15%;
	background-color: rgba(10, 10, 10, 0.7);
	text-align:center;
	max-width:350px;
	padding:30px;
	border: 1px solid #666;
	border-radius: 3px;	
}
#javo-box-bg-search .background-search-box .inner_wrap form h3{
	color:#fff; 
	font-size:25px; 
	font-weight:bold;
	margin:0;
	margin-bottom:10px;
}
#javo-box-bg-search .background-search-box .inner_wrap form .slider-search-part-wrap>.btn-group,
#javo-box-bg-search .background-search-box .inner_wrap form .slider-search-part-wrap>.form-group{
	width:100%; 
	margin-bottom:10px; 
}
#javo-box-bg-search .background-search-box .inner_wrap form .slider-search-part-wrap>.btn-group button,
#javo-box-bg-search .background-search-box .inner_wrap form .slider-search-part-wrap>.form-group>input{width:100%;}
#javo-box-bg-search .background-search-box .inner_wrap form .search-part-inner-text{
	width:100%; 
	margin-bottom:15px; 
	color:#fff;
	font-size:14px;
}
#javo-box-bg-search .background-search-box .inner_wrap form .btn-group ul{
	width:100%; 
	margin:0; 
	border-radius:0px;
	border-color:#adadad;
}
#javo-box-bg-search .background-search-box .inner_wrap form .btn-group .dropdown-menu:before{content:none;}
#javo-box-bg-search .background-search-box .inner_wrap form .slider-search-part-wrap>input{
	padding:5px 20px 5px 20px; 
	font-size:16px;
}
#javo-box-bg-search .carousel-inner .slide-bg-images{position:relative;}
#javo-box-bg-search .carousel-inner .slide-bg-images>a{
	position:absolute; 
	top:15%;
	left:15%; 
	z-index:9;
	text-transform:uppercase;
	max-width:40%;
	height:auto;
} 
#javo-box-bg-search .carousel-inner .slide-bg-images > .javo-slider-search-meta{
	position:absolute; 
	top:25%;
	left:15%; 
	z-index:9;
	color:#fff;
	font-size:2.2em;
} 

.item-author-info .col-md-4 .item-author-info-circle-border{
	position:absolute; 
	width:80px; 
	height:80px; 
	top:0; 
	border:10px solid #ddd;
	border-radius:50px;
	z-index:16;
}

#javo-slide-search .item-author-info .event_info .item-author-info-circle-border{top:-3px; left:-3px;}
#javo-box-bg-search .background-slide-title {border:3px solid #fff; padding: 0px 15px;}
#javo-box-bg-search h3 {margin-top:3px;}

/** slider fade effect **/
#javo-slide-search .carousel-inner .item {
  left: 0 !important;
  -webkit-transition: opacity .3s; /*adjust timing here */
     -moz-transition: opacity .3s;
       -o-transition: opacity .3s;
          transition: opacity .3s;
}
/* Fade controls with items */
#javo-slide-search .carousel-inner .item.next.left,
#javo-slide-search .carousel-inner .item.prev.right {
    opacity: 1;
    z-index: 1;
}
#javo-slide-search .carousel-inner .item.active.left,
#javo-slide-search .carousel-inner .item.active.right {
    opacity: 0;
    z-index: 2;
}
.slider-search-part-wrap .form-control, .slider-search-part-wrap .dropdown-toggle {width:200px;}
.slider-search-part-wrap .form-control, .slider-search-part-wrap .btn-default {border:1px solid #aaa;}
.slider-search-box .chosen-container-single {min-width:200px;}


/*

	###	2. Event Listing		###

*/
div.javo-shortcode-event-listing{
	display:table;
	position:relative;
	overflow:hidden;
}
div.javo-shortcode-event-listing div.event-inner-overlay-bg{
	position:absolute;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	background:#FFB318;
	width:100%;
	top:-100%;
	height:100%;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition:all 0.5s;
}
div.javo-shortcode-event-listing div.offer{
	font: 900  1.8em / 1.1em "Arial Black", Gadget, sans-serif;
	margin-bottom:20px;
}
div.javo-shortcode-event-listing:hover div.event-inner-overlay-bg{
	height:100%;
	top:0;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition:  all 0.5s;
	-o-transition:  all 0.5s;
	transition:all 0.5s;
}
div.javo-shortcode-event-listing div.event-inner-overlay-bg>a{color:#fff;}

#javo-event-item-slider-container .item .col-sm-4>.row, 
#javo-event-item-slider-container .item .col-sm-6>.row, 
#javo-event-item-slider-container .item .col-sm-12>.row{
	display:table;
	margin-right:auto;
	margin-left:auto;
}

.events-content{
	position: absolute;
	top: 50%;
	right:0;
	padding:10px;
	width:100%;
	min-height:70px;
}

.javo-event-item-slider>.row{margin-bottom:15px;}
.javo-event-item-slider>.row .controls>a{padding-top:3px;}

.javo-shortcode-event-listing.one-col-event img{
	float:left;
	margin-right:20px;
}
.javo-event-one-col{ float:left; max-width:600px;}

.javo-event-item-slider>.row>.col-md-3 a{
	font-size:17px;
}
.javo-event-item-slider>.row>.col-md-3 a.btn-white{
	background:none;
	border-color:#999;
	color:#999;
}
#javo-event-item-slider-container .item .javo-shortcode-event-listing .event-tag{
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #ff6600;
	text-align: center;
	border: 3px solid #fff;
}
#javo-event-item-slider-container .javo-offer-area-content{
	display:table;
	width:100%;
	height:100%;
	overflow:hidden;
}
#javo-event-item-slider-container .javo-offer-area-content > div{
	display:table-cell;
	vertical-align:middle;
	font: 1.3em / 1.0em "Arial Black", Gadget, sans-serif;
	color:#fff;
	max-width: 50px;
}
.top-small-post-title{line-height:30px;}

/*second event*/
.javo-second-event-listing{
	overflow:hidden;
	display:table;
	position:relative;
}
.javo-second-event-listing .event-inner-overlay-bg{
	background:rgba(0,0,0,0);
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	padding:30px;
}

.javo-second-event-listing .item-name{
	text-transform:uppercase;
	font-size:18px;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0 0 10px;
	width: 100%;
	background-color: transparent;
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.8));
	background-image: linear-gradient(transparent, rgba(0,0,0,0.8));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0);";
	text-shadow: 0 1px 1px rgba(0,0,0,0.8);
	color: #fff;
	font-family:'Oswald';
	font-weight:300;
}


.javo-second-event-listing:hover .event-inner-overlay-bg{
	background:rgba(0,0,0,0.4);
}
.javo-second-event-listing .event-inner-overlay-bg>a .event-image-inner-top .offer{
	font-size:1.4em;
	padding:5px 10px;
	font-family:'Oswald';
}
.javo-second-event-listing .event-inner-overlay-bg>a .event-image-inner-top{
	-webkit-transform:translateY(-40px);
	-moz-transform:translateY(-40px);
	-ms-transform:translateY(-40px);
	-o-transform:translateY(-40px);
	transform:translateY(-40px);
	color:rgba(255,255,255,0);
	border:3px solid rgba(255,255,255,0);
	-webkit-transition:all 0.6s;
	-moz-transition:all 0.6s;
	-ms-transition:all 0.6s;
	-o-transition:all 0.6s;
	transition:all 0.6s;
}
.javo-second-event-listing .event-inner-overlay-bg>a .events-content{
	-webkit-transform:translateY(-40px);
	-moz-transform:translateY(-40px);
	-ms-transform:translateY(-40px);
	-o-transform:translateY(-40px);
	transform:translateY(-40px);
	color:rgba(255,255,255,0);
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
	-ms-transition:all 0.4s;
	-o-transition:all 0.4s;
	transition:all 0.4s;
}

.javo-second-event-listing:hover .event-inner-overlay-bg>a .event-image-inner-top{
	-webkit-transform:translateY(30px);
	-moz-transform:translateY(30px);
	-ms-transform:translateY(30px);
	-o-transform:translateY(30px);
	transform:translateY(30px);
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
	-webkit-transition:all 0.6s;
	-moz-transition:all 0.6s;
	-ms-transition:all 0.6s;
	-o-transition:all 0.6s;
	transition:all 0.6s;
}
.javo-second-event-listing:hover .event-inner-overlay-bg>a .events-content{
	-webkit-transform:translateY(0px);
	-mozt-transform:translateY(0px);
	-ms-transform:translateY(0px);
	-o-transform:translateY(0px);
	transform:translateY(0px);
	color:rgba(255,255,255,1);
}

#javo-event-item-slider-container .item .javo-second-event-listing .event-tag{
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #ff6600;
	text-align: center;
	border: 3px solid #fff;
}

.javo-second-event-wrap .javo-left-overlay {top:11px; left:11px;}
.javo-event-item-slider .javo-left-overlay .javo-txt-meta-area{background-color:#FF2D2D;}



/*

	###	3. Categories		###

*/
.categories-imgs{}
.categories-imgs a {
	display: inline-block;
	background:#f00;
	margin:20px;
	text-transform: uppercase; 
	font-size: 14px;
	position:relative;
	overflow:hidden;
}
.categories-imgs img {
	width:100px;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;
}
.categories-imgs span {
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	padding-left:15px;
	padding-bottom:5px;
	width:100%;
	font-size:18px;
	color:rgba(255,255,255,1);
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition:all 0.2s ease-out;
	transition:all 0.2s ease-out;
	font-weight:300;
	z-index:1;
	text-align:left;
	background:-webkit-linear-gradient(bottom,rgba(0,0,0,0.6),transparent);
	padding-top:10px;
	font-family:'Oswald';
}
.categories-imgs a:hover span{
	bottom:-30%;
	color:rgba(255,255,255,0);
}
.categories-imgs a:hover img{
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-o-transform:scale(1.2);
	transform:scale(1.2);
}
.categories-icons button {margin-right:22px;}

.btn-circle.btn-cate-box {
width: 100px;
height: 100px;
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 100px;
}

.categories-imgs .inline-block>a{
	cursor:pointer;
}
.categories-wrap-shadow{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0);
	-webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
	-ms-transition:all 0.4s;
	-o-transition:all 0.4s;
	transition:all 0.4s;
}
.categories-imgs a:hover .categories-wrap-shadow{
	background:rgba(0,0,0,0.6);
}
.javo-categories-inner-meta{ display:none; position:absolute; top:0px; left:0px; width:100%; height:100%; }
.javo-categories-inner-meta b{ display:table-cell; vertical-align:middle; width:100%; height:100%; }



/*

	###	4. Grid Open		###

*/
.javo-grid-open .og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.javo-grid-open .og-grid li {
	display: inline-block !important;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 100%;
	/* position:relative; */
}

.javo-grid-open .og-grid li > a,
.javo-grid-open .og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.javo-grid-open .og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #fff;
	border-width: 15px;
	left: 50%;
	margin: -16px 0 0 -15px;
	z-index:201;
}

.javo-grid-open .og-expander {
	position: absolute;
	background: #fff;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
	border:1px #ccc solid;
}

.javo-grid-open .og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.javo-grid-open .og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.javo-grid-open .og-close::before,
.javo-grid-open .og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.javo-grid-open .og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.javo-grid-open .og-close:hover::before,
.javo-grid-open .og-close:hover::after {
	background: #333;
}

.javo-grid-open .og-fullimg,
.javo-grid-open .og-details {
	width: 50%;
	float: left !important;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.javo-grid-open .og-details {
	padding: 0 40px 0 20px;
}

.javo-grid-open .og-fullimg {
	text-align: center;
}

.javo-grid-open .og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.javo-grid-open .og-details h3 {
	font-weight: 300;
	font-size: 30px;
	padding: 0px 0 10px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.javo-grid-open .og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.javo-grid-open .og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.javo-grid-open .og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.javo-grid-open .og-details a:hover {
	border-color: #999;
	color: #999;
}

.javo-grid-open .og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}
.javo-grid-open .og-expander-inner .og-details h3{font:30px/50px;}
.og-expander{z-index:200;}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }

}
/* General Base Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.javo-grid-open .grid-open-container {
	width: 100%;
	position: relative;
}

.javo-grid-open .grid-open-container > header {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;
}

.javo-grid-open .grid-open-container > header {
	padding: 60px 30px 50px;
	text-align: center;
}

.javo-grid-open .grid-open-container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0 auto;
	font-weight: 700;
	color: #333;
}

.javo-grid-open .grid-open-container > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}

.javo-grid-open .main > p {
	text-align: center;
	padding: 50px 20px;
}

/* Header Style */
.javo-grid-open .codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.javo-grid-open .codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.javo-grid-open .codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.javo-grid-open .codrops-top span.right {
	float: right;
}

.javo-grid-open .codrops-top span.right a {
	float: left;
	display: block;
}
.javo-grid-open .og-expander .og-details h3{
	font-family:'Oswald';
	font-weight:500;
}



/*

	###	5. Javo Gallery		###

*/
#javo-gall .controls{
  padding: 2%;
  background: #333;
  color: #eee;
}

#javo-gall label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

#javo-gall button{
  display: inline-block;
  padding: .4em 1em;
  background: #fff;
  border: 1px solid #ddd;
  color: #bbb;
  font-size: 12px;
  cursor: pointer;
  margin-right:2px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#javo-gall button.gallery-terms-btn{margin-right:5px;}
#javo-gall .gallery-sort-btn{float:right;}
#javo-gall button:hover, #javo-gall button.active{
  color:#fff;
   border:1px solid #000 !important;
   background:#454545;
}
#javo-gall .javo-gallery-navi{ padding:5px 0;}
#javo-gall button:focus{
  outline: 0 none;
}

#javo-gall button + label{
  margin-left: 1em;
}

#javo-gall{
  padding: 2% 0;
  text-align: justify;
  font-size: 0.1px;
  /* background: #68b8c4; */

  -webkit-backface-visibility: hidden;
}

#javo-gall:after{
  content: '';
  display: inline-block;
  width: 100%;
}

#javo-gall .javo-gall-mix,
#javo-gall .gap{
  display: inline-block;
  width: 49%;
}

#javo-gall .javo-gall-mix{
  text-align: left;
  background: #03899c;
  display: none;
}

#javo-gall .javo-gall-mix.category-1{
  border-top: 2px solid limegreen;
}

#javo-gall .javo-gall-mix.category-2{
  border-top: 2px solid yellow;
}



@media all and (min-width: 420px){
  #javo-gall .javo-gall-mix,
  #javo-gall .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  #javo-gall .javo-gall-mix,
  #javo-gall .gap{
    width: 23.5%;
	margin-right: 14px;
  }
}
#javo-gall .javo-gallery{letter-spacing:0px;}
#javo-gall .javo-gallery .javo-gall-mix{
	background:none;
	position:relative;
	margin-top:20px;
	margin-bottom:20px;
}

#javo-gall .javo-left-overlay {font-size:14px;}
#javo-gall .javo-left-overlay i {font-size:12px;}
#javo-gall .javo-gallery-wrap {overflow:hidden;}

#javo-gall .javo-gallery .javo-gall-mix img{
	z-index: 9;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	position:relative;
}


#javo-gall .javo-gallery .javo-gall-mix:hover img{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

#javo-gall .javo-gallery-term-content-title{
	font-family:'Oswald';
	font-weight:300;
	letter-spacing:0.5px;
	position:absolute;
	bottom:0;
	left:0;
	line-height:30px;
	padding:5px 10px 7px 10px;
	color:rgba(255,255,255,1);
	z-index:10;
	font-size:15px;
	width:100%;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	text-transform:uppercase;
	line-height:20px;
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,0.6));
	background-image: linear-gradient(transparent, rgba(0,0,0,0.6));
}
#javo-gall .javo-gallery .javo-gall-mix:hover .javo-gallery-term-content-title{
}
#javo-gall .javo-gallery-term-content-title span{}

#javo-gall .javo-gallery-shadow{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0);
	z-index:10;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}
#javo-gall .javo-gallery .javo-gall-mix:hover .javo-gallery-shadow{
	background:rgba(0,0,0,0.7);
}
#javo-gall .javo-gallery .javo-gall-mix .javo-gallery-term-content-inform{
	position:absolute;
	text-align:center;
	top:15%;
	width:100%;
	z-index:10;
	color:rgba(255,255,255,0);
	font-weight: bold;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-o-transition:all 0.3s;
	transition:all 0.3s;
	opacity:0;
}

#javo-gall .javo-gallery .javo-gall-mix:hover .javo-gallery-term-content-inform{
	color:rgba(255,255,255,1);
	top:40%;
	opacity:1;
}

#javo-gall .javo-gallery .javo-gall-mix .javo-gallery-term-content-inform .javo-gallery-term-content-rating{
	font-size:20px;
	margin: -15px 0 0;
}

#javo-gall .javo-gallery .javo-gall-mix .javo-gallery-term-content-inform .javo-gallery-term-content-category{
	font-size:16px;
	text-transform:uppercase;
	font-family:'Oswald';
	line-height:25px;
	font-weight: 500;
}

#javo-gall .javo-gallery-term-content-category,
#javo-gall .javo-gallery-term-content-rating{line-height:40px;}



/*

	###	6. Javo Events Gallery		###

*/

#javo-events-gall .controls{
  padding: 2%;
  background: #333;
  color: #eee;
}

#javo-events-gall label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

#javo-events-gall button{
  display: inline-block;
  padding: .4em 1em;
  background: #fff;
  border: 1px solid #ddd;
  color: #bbb;
  font-size: 12px;
  cursor: pointer;
  margin-right:2px;
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	letter-spacing: -0.5px;
}
#javo-events-gall button.gallery-terms-btn{margin-right:5px;}
.gallery-sort-btn{float:right;}
#javo-events-gall button:hover, #javo-events-gall button.active{
  color:#fff;
   border:1px solid #000 !important;
   background:#454545;
}
.javo-events-gallery-navi{margin-top:5px;}
#javo-events-gall button:focus{
  outline: 0 none;
}

#javo-events-gall button + label{
  margin-left: 1em;
}

#javo-events-gall{
  padding: 2% 0;
  -webkit-backface-visibility: hidden;
}

#javo-events-gall:after{
  content:' ';
  display: inline-block;
  width: 100%;
}

#javo-events-gall .javo-event-gallery-mix,
#javo-events-gall .gap{
  display: inline-block;
 /* width: 49%;
*/
}

#javo-events-gall .javo-event-gallery-mix{
  text-align: left;
  background: #03899c;
  display: none;
  overflow:hidden;
}
#javo-events-gall img{
 box-shadow:inset 0 2px 5px rgba(9, 9, 9, .9);
}

#javo-events-gall .javo-event-gallery-mix.category-1{
  border-top: 2px solid limegreen;
}

#javo-events-gall .javo-event-gallery-mix.category-2{
  border-top: 2px solid yellow;
}



@media all and (min-width: 420px){
  #javo-events-gall .javo-event-gallery-mix,
  #javo-events-gall .gap{
    width: 32%;
  }
}

@media all and (min-width: 640px){
  #javo-events-gall .javo-event-gallery-mix,
  #javo-events-gall .gap{
    width: 23.5%;
  }
}
#javo-events-gall .javo-events-gallery .javo-event-gallery-mix{
	background:none;
	position:relative;
	margin-top:20px;
	overflow:hidden;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 16px;
}
#javo-events-gall .javo-events-gallery .javo-event-gallery-mix a{
	display:block;
	overflow:hidden;

}
#javo-events-gall .javo-events-gallery .javo-event-gallery-mix img{
	z-index: 9;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
	position:relative;
}


#javo-events-gall .javo-events-gallery .javo-event-gallery-mix:hover img{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

 .javo-events-gallery-term-content{
	background:rgba(69,69,69,0);
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	color:rgba(255,255,255,0);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:15px;
	line-height:11px;
}
#javo-events-gall .javo-events-gallery .javo-event-gallery-mix:hover .javo-events-gallery-term-content{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	color:rgba(255,255,255,1);
	background:rgba(69,69,69,1);
}

.javo-events-gallery-term-content-title{
	position:absolute;
	top:0;
	left:0;
	right:0;
	line-height:30px;
	padding-left:10px;
	color:#fff;
	z-index:9;
	font-size:15px;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	text-transform:uppercase;
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.6), transparent);
	background-image: linear-gradient(rgba(0,0,0,0.6), transparent);
	padding-bottom:5px;
}
.javo-events-gallery-term-content-title span{
	display:block;
	position:relative;
	margin:4px 2px;
	text-shadow:2px 2px 3px rgba(45, 45, 45, .8);
}


#javo-events-gall .event-tag{
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #222;
	text-align: center;
	border: 0px solid #fff;
	z-index:9;
}
#javo-events-gall .javo-offer-area-content{
	display:table;
	width:80px;
	height:100%;
	overflow:hidden;
}
#javo-events-gall .javo-offer-area-content > div{
	display:table-cell;
	vertical-align:middle;
	font: 1.1em / 1.7em Raleway, sans-serif;
	font-weight:500;
	color:#fff;
}



/*

	###	7. Featured Items		###

*/
div#javo-featured-items-wrap{ overflow:hidden}
div#javo-featured-items-wrap img{ width:100%; }
div#javo-featured-items-wrap .left-big-img img{max-height:438px;}
div#javo-featured-items-wrap .right-small-img img{max-height:207px;}

div#javo-featured-items-wrap .item-container{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
	max-width:548px;
}
div#javo-featured-items-wrap .right-small-img>.row>.col-xs-6{max-width:289px;}
div#javo-featured-items-wrap .item-container a{
	display:block;
}
div#javo-featured-items-wrap .item-container .item-cover{
	position:absolute;
	background: rgba(0, 0, 0, 0);
	top:10px;
	bottom:10px;
	right:10px;
	left:10px;
	-webkit-transition:: all 0.5s;
	-moz-transition:: all 0.5s;
	-o-transition:: all 0.5s;
	-ms-transition:: all 0.5s;
	transition: all 0.5s;
	border:1px solid rgba(255, 255, 255, 0);
}
div#javo-featured-items-wrap .item-container .item-cover .item-cover-inner{
	position:relative;
	display:table;
	width:100%;
	height:100%;
}
div#javo-featured-items-wrap .item-container .item-cover .item-cover-inner .item-captions{
	display:table-cell;
	vertical-align:top;
	padding-top:15%;
	text-align:center;
	width:100%;
	height:100%;

}
div#javo-featured-items-wrap .item-container .item-cover .item-cover-inner .item-captions .item-title{
	position:relative;
	z-index:9;
	font: bold 2.0em / 2.0em Open Sans;
	color:rgba(255,255,255,0);
	-webkit-transform: translateY(-30px) scale(2);
	-moz-transform:  translateY(-30px) scale(2);
	-o-transform:  translateY(-30px) scale(2);
	-ms-transform:  translateY(-30px) scale(2);
	transform:  translateY(-30px) scale(2);
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
	font-family: 'Oswald';
	font-weight: 500;
}
div#javo-featured-items-wrap .item-container:hover .item-cover .item-cover-inner .item-captions .item-title{
	color:rgba(255,255,255,1);
	-webkit-transform:  translateY(0px) scale(1);
	-moz-transform: translateY(0px) scale(1);
	-o-transform: translateY(0px) scale(1);
	-ms-transform: translateY(0px) scale(1);
	transform: translateY(0px) scale(1);
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
div#javo-featured-items-wrap .right-small-img .item-container .item-cover .item-cover-inner .item-captions .item-title{
	font: bold 1.5em/1.5em OpenSans;
	max-height:54px;
	overflow:hidden;
	font-family: 'Oswald';
	font-weight: 500;
}
div#javo-featured-items-wrap .item-container .item-cover .item-cover-inner .item-captions .item-description{
	font: bold 1.2em / 2.0em Open Sans;
	margin:0 0 30px 0;
	color:rgba(255,255,255,0);
	-webkit-transform: translateY(20px) scale(2);
	-moz-transform: translateY(20px) scale(2);
	-o-transform: translateY(20px) scale(2);
	-ms-transform: translateY(20px) scale(2);
	transform: translateY(20px) scale(2);
	-webkit-transition: all 0.3s ease-in-out 0.2s;
	-moz-transition: all 0.3s ease-in-out 0.2s;
	-o-transition: all 0.3s ease-in-out 0.2s;
	-ms-transition: all 0.3s ease-in-out 0.2s;
	transition: all 0.3s ease-in-out 0.2s;
	font-family:'Oswald';	
}
div#javo-featured-items-wrap .item-container:hover .item-cover .item-cover-inner .item-captions .item-description{
	-webkit-transform: translateY(0px) scale(1);
	-moz-transform: translateY(0px) scale(1);
	-o-transform: translateY(0px) scale(1);
	-ms-transform: translateY(0px) scale(1);
	transform: translateY(0px) scale(1);
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	-ms-transition-delay: 0.1s;
	transition-delay: 0.1s;
	color:rgba(255,255,255,1);
}

div#javo-featured-items-wrap .left-big-img {
	font-size:20px;	
}

div#javo-featured-items-wrap .right-small-img {
	font-size:12px;
}


div#javo-featured-items-wrap .item-container:hover .item-cover{
	background: rgba(0, 0, 0, 0.6);
	border:1px solid rgba(0, 0, 0, 0.2);
}



#javo-featured-items-wrap .col-md-6:last-child .row:first-child .col-md-6{padding-bottom:23px;}

div#javo-featured-items-wrap .item-container .feature-item-bottom-title{
	position:absolute;
	background:rgba(0,0,0,0.6);
	color:rgba(255,255,255,1);
	bottom:0;
	left:0;
	padding:5px 0 5px 15px;
	font-size:1.2em;
	width:100%;
	-webkit-transition:all 0.2s;
	-moz-transition:all 0.2s;
	-ms-transition:all 0.2s;
	-o-transition:all 0.2s;
	transition:all 0.2s;
	font-family: 'Oswald';
	letter-spacing:0.5px;
}
div#javo-featured-items-wrap .item-container:hover .feature-item-bottom-title{
	background:rgba(0,0,0,0);
	color:rgba(255,255,255,0);
	-webkit-transform:translateY(30px);
	-moz-transform:translateY(30px);
	-ms-transform:translateY(30px);
	-o-transform:translateY(30px);
	transform:translateY(30px);
	-webkit-transition:all 0.2s;
	-moz-transition:all 0.2s;
	-ms-transition:all 0.2s;
	-o-transition:all 0.2s;
	transition:all 0.2s;
}



/*

	###	8. Search-Form		###

*/

/* search form for items : archive */
.search-type-a-wrap form {
width: 100%;
text-align: center;
z-index: 11;
}

.search-type-a-inner {
padding: 15px 15px 13px 14px;
background: rgba(255, 255, 255, 0.7);
border-radius: 3px;
display: inline-block;
}

.search-type-a-wrap .search-a-items, .search-type-a-wrap .form-control {width:200px; border: 1px solid #aaa;}

.search-type-a-wrap a.chosen-single {margin:0 5px 0 0;}

.search-box-inline {
/*display: inline-block;
margin-bottom: 0;
vertical-align: middle;*/
	display: inline-flex;
	margin-bottom: 0;
	vertical-align: middle;
	height: 60px;
	text-transform: uppercase;
	margin-left: 5px;
}
/* search form for items : archive */

/*

	###	9. Item Price Table		###

*/
.javo-item-price-table h3 {text-transform: uppercase; font-weight:900; font-size:15px;}
.javo-item-price-table .panel{border-radius:10px;} 
.panel-title.price span{font-size:20px;}
.javo-item-price-table .panel-heading h3{margin:0px;}

.javo-item-price-table .list-group{border-top:1px solid #ddd;}
.javo-item-price-table .list-group .list-group-item:first-child{
	text-align:left; 
	margin:0 auto; 
	display:table;
	border:none;
	padding: 30px 15px;
	font-size:14px;
	color:#999;
}
.javo-item-price-table .list-group .list-group-item:first-child>div{margin-bottom:5px;}
.javo-item-price-table .list-group .list-group-item:first-child i{margin-right:5px; top:2px;}
.javo-item-price-table .list-group .list-group-item:last-child{padding:0}
.javo-item-price-table .list-group .list-group-item:last-child input:last-child{width:100%; height:100%; border:none;}
.javo-item-price-table .panel-heading{border-top-left-radius:10px; border-top-right-radius:10px;}
.javo-item-price-table .list-group .list-group-item:last-child,
.javo-item-price-table .list-group .list-group-item:last-child>form,
.javo-item-price-table .list-group .list-group-item:last-child>form>input:last-child{border-bottom-left-radius:10px !important; border-bottom-right-radius:10px !important;}
.javo-item-price-table .list-group .list-group-item:last-child>form>input:last-child{text-transform:uppercase;}