
/** Time line **/

ul.jv_timeline {
    list-style: none;
    padding: 20px 0 120px;
    position: relative;
	margin-left:10px;
	margin-right:10px;
}

    ul.jv_timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    ul.jv_timeline > li {
        margin-bottom: -50px;
        position: relative;
    }

        ul.jv_timeline > li:before,
        ul.jv_timeline > li:after {
            content: " ";
            display: table;
        }

        ul.jv_timeline > li:after {
            clear: both;
        }

        ul.jv_timeline > li:before,
        ul.jv_timeline > li:after {
            content: " ";
            display: table;
        }

        ul.jv_timeline > li:after {
            clear: both;
        }

        .jv_timeline > li > .jv_timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
			background:#fff;
        }

            .jv_timeline > li > .jv_timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .jv_timeline > li > .jv_timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .jv_timeline > li > .jv_timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .jv_timeline > li.jv_timeline-inverted > .jv_timeline-panel {
            float: right;
        }

            .jv_timeline > li.jv_timeline-inverted > .jv_timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .jv_timeline > li.jv_timeline-inverted > .jv_timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.jv_timeline-badge.primary {background-color: #2e6da4 !important;}
.jv_timeline-badge.success {background-color: #3f903f !important;}
.jv_timeline-badge.warning {background-color: #f0ad4e !important;}
.jv_timeline-badge.danger {background-color: #d9534f !important;}
.jv_timeline-badge.info {background-color: #5bc0de !important;}


/** ratings customize **/
.javo-rating-timeline-content .jv_timeline-badge.primary {background-color: #dddddd !important;}
.javo-rating-timeline-content .jv_timeline-badge.success {background-color: #dddddd !important;}
.javo-rating-timeline-content .jv_timeline-badge.warning {background-color: #dddddd !important;}
.javo-rating-timeline-content .jv_timeline-badge.danger {background-color: #dddddd !important;}
.javo-rating-timeline-content .jv_timeline-badge.info {background-color: #dddddd !important;}



.javo-rating-timeline-content.jv_timeline > li > .jv_timeline-badge {
		color: #fff;
		width: 10px;
		height: 10px;
		line-height: 50px;
		font-size: 1.4em;
		text-align: center;
		position: absolute;
		top: 36px;
		left: 50%;
		margin-left: -5px;
		background-color: #999999;
		z-index: 100;
		border-top-right-radius: 50%;
		border-top-left-radius: 50%;
		border-bottom-right-radius: 50%;
		border-bottom-left-radius: 50%;
}
.javo-rating-timeline-content .icon-star {display:none;}


.jv_timeline-title {
    margin-top: 0;
    color: inherit;
}

.jv_timeline-body > p,
.jv_timeline-body > ul {
    margin-bottom: 0;
}

    .jv_timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.jv_timeline:before {
        left: 40px;
    }

    ul.jv_timeline > li > .jv_timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.jv_timeline > li > .jv_timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.jv_timeline > li > .jv_timeline-panel {
        float: right;
    }

        ul.jv_timeline > li > .jv_timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.jv_timeline > li > .jv_timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

.jv_timeline li {margin:0px;}